.project
/.settings/*
.classpath
.settings
.project
.springBeans
.recommenders
# Java annotation processor (APT)
.factorypath
Source/SSCore/.settings
Source/SSWeb/.settings
Source/SSBatch/.settings
Source/.settings/
Source/.idea/
Source/**/*.eml
Source/**/*.iml
Source/**/log/*
Source/**/logs/*
Source/**/mvnw
Source/**/mvnw.cmd
Source/standalone/
/**/target/
/.metadata/*
.DS_Store
.idea

target

# Docker volume container
tmp

# docker-compose override. Usually a symlink to .dev.yml or .prod.yml
docker-compose.override.yml

# Environment variables
.envrc
