.project
/.settings/*
.gitignore
.classpath
.settings
.project
.springBeans
Source/SSCore/.settings
Source/SSWeb/.settings
Source/SSBatch/.settings
.gitignore~
Source/.settings/
Source/.idea/
Source/**/*.eml
Source/**/*.iml
Source/standalone/
