<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
  <appSettings>

    <add key="MongoDatabaseName" value="ss_db" />
    <add key="MongoCompanyInfoCollection" value="COMPANY_SETTINGS" />
    <add key="ss_environment" value="test"/>
    <add key="email_domain_to_replace" value="infrrd.ai"/>
    <add key="email_address_prefix" value="yogananda" />
    <add key="sendgird_username_property" value="socialsurvey.me" />
    <add key="sendgird_password_property" value="ad759QW46" />
    <add key="sendgird_name_property" value="Social Survey Team" />
    <add key="sendgird_from_address_property" value="socialsurveyteam@socialsurvey.me" />
    <add key="application_admin_email" value="yogananda@infrrd.ai" />
    <add key="default_days_interval" value="30" />
    <add key="temp_folder_path" value="D:\work\backup" />
    <add key="fetch_company_credentials_url" value="http://127.0.0.1:8080/rest/encompass/getcompanycredentials" />
    <add key="disable_generate_report_url" value="http://127.0.0.1:8080/rest/encompass/disablereportgeneration" />
    <add key="MaxNoOfParallelThreads" value="5"/>
    <add key="summit_company_id" value="143" />
    <add key="encompass_version" value="18.1.0" />
    <add key ="companyTypeDeterminant" value="A"/>
    <add key ="ssapiUrl" value="http://127.0.0.1:8080/SSApi-1.0/v1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="EncompassSocialSurvey" connectionString="datasource=localhost;database=ss_user;port=3306;username=root;password=root;"/>
    <add name="MongoDBSocialSurvey" connectionString="mongodb://localhost"/>
  </connectionStrings>
<system.data>
  <DbProviderFactories>
    <remove invariant="MySql.Data.MySqlClient" />
    <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
  </DbProviderFactories>
</system.data>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
      <file value="c:\temp\EncompassSocialSurvey.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>


</configuration>