<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:encryption="http://www.jasypt.org/schema/encryption"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="configurationEncryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
		<property name="config" ref="environmentVariableConfiguration" />
	</bean>
	<bean id="environmentVariableConfiguration"
		class="org.jasypt.encryption.pbe.config.EnvironmentStringPBEConfig">
		<!-- <property name="algorithm" value="PBEWithMD5AndTripleDES" /> -->
		<!-- <property name="passwordEnvName" value="ENV_VAR" /> -->
		<property name="password" value="root" />
	</bean>
	<bean id="propertyConfigurer"
		class="org.jasypt.spring31.properties.EncryptablePropertyPlaceholderConfigurer">
		<constructor-arg ref="configurationEncryptor" />
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
	<context:component-scan base-package="com.realtech.socialsurvey.core.model.*" />
	<context:annotation-config />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url">
			<value>${MYSQL_DB_URL}</value>
		</property>
		<property name="driverClassName">
			<value>${MYSQL_DRIVER}</value>
		</property>	

		<property name="username">
			<value>${MYSQL_DB_USER}</value>
		</property>
		<property name="password">
			<value>${MYSQL_DB_PASS}</value>
		</property>
	</bean>


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<!-- <prop key="hibernate.dialect">${jdbc.dialect}</prop> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.enable_lazy_load_no_trans">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.realtech.socialsurvey.model.entity.AccountsMaster</value>
				<value>com.realtech.socialsurvey.model.entity.Branch</value>
				<value>com.realtech.socialsurvey.model.entity.Company</value>
				<value>com.realtech.socialsurvey.model.entity.CompanyInvitationLicenseKey</value>
				<value>com.realtech.socialsurvey.model.entity.LicenseDetail</value>	
				<value>com.realtech.socialsurvey.model.entity.OrganizationLevelSetting</value>
				<value>com.realtech.socialsurvey.model.entity.ProfilesMaster</value>
				<value>com.realtech.socialsurvey.model.entity.Region</value>
				<value>com.realtech.socialsurvey.model.entity.Survey</value>
				<value>com.realtech.socialsurvey.model.entity.SurveyQuestion</value>
				<value>com.realtech.socialsurvey.model.entity.SurveyQuestionsAnswerOption</value>
				<value>com.realtech.socialsurvey.model.entity.User</value>
				<value>com.realtech.socialsurvey.model.entity.UserInvite</value>
				<value>com.realtech.socialsurvey.model.entity.UserProfile</value></list>
		</property>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>