/* ============== new registration style==============*/
@media(max-width:475px){
	.arrow-steps .step {
	  width:32.5%;
	}
	.reg-linkedin-border {
    padding: 0 5px;
    width: 100%;
   }
   .reg-auth-linkedin-wrapper{
    padding: 15px 5px;
   }
   .reg-auth-linkedin-btn{
     width: 270px;
     font-size: 14px;
   }
   .reg-payment-container{
    height: 172px;
    margin: 30px auto;
    padding: 0;
  }
  .reg-pay-wrap{
	width: 275px; 
  }
  .reg-upgrade{
	margin-top:70px;
	font-size: 8px;
	height: 27px;
    line-height: 27px;
    width: 70px;
    margin-left: 5px
 }
.plan-card{
	width: 100px;
	height: 170px;
 }
.price-info{
	font-size: 3rem;
    height: 30px;
 }
 .price-info .dollar {
    top: -1.50rem;
    font-size: 2rem;
}
.price-info .cents {
    top: 2.25rem;
    font-size: 1.25rem;
}
.price-info-sub {
    font-size: 9px;
    padding:0px;
    height: 25px;
}
.reg-sm{
	font-size:14px !important;
	margin-top:0px !important;
}
.reg-dow{
	width:70px;
}
.call-us {
    font-size: 13px;
    padding: 5px 0px;
}
.contact-number {
	font-size: 12px;
}
.reg-agree{
	font-size: 12px;
}
 
}
@media ( max-width :992px) {
	.reg-side-image {
		width: 180px;
		height: 322px;
		margin-top;20px;
	}
	.reg-right-description {
		font-size: 13px;
	}
	.reg-line-1 {
		width: 241px;
	}
	.reg-line-3 {
		width: 280px;
	}
	.reg-line-4 {
		width: 160px;
	}
	.prof-line-1 {
    width: 273px;
	}
	.prof-line-2 {
    width: 264px;
    }
   .prof-line-3 {
    width: 289px;
    }
    .reg-prof-img {
    width: 260px;
    height: 200px;
    margin-top: 20px;
    }
    .payment-right-description{
	width:100%;
	margin:auto;
    }

}
@media ( max-width :815px) {
	.reg-right-container {
		display: none;
	}
	.reg-left-container {
		width: 100%;
		min-width: initial;
		max-width: initial;
	}
}

 @media ( min-width : 1450px) {
	
	.reg-left-container{
	      min-width: 624px
	}
	.payment-right-center{
	width:450px !important;
}
	
} 
@media(min-width:993px)and (max-width:1650px){
	 .reg-right-center {
		left: 57%;
	}
}
@media(max-width:900px){
	.reg-right-description-payment {
      width: 80%;
	}
	.reg-li{
	 margin-top:0px;
	}
	.reg-li>ul>li{
	 padding:5px;
	}
	
	
}