.clearfix:after,.clearfix:before {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.formModalContainer {
	width: 380px;
	margin: 0 auto;
	border-radius: 3px;
}

#formHeaderBar {
	height: 92px;
	background: url(../images/logo.png) no-repeat center;
	background-color: #fff;
	position: relative;
}

.formBodyMainText {
	line-height: 60px;
	font-size: 22px;
	text-align: center;
	text-transform: capitalize;
}

.formButton {
	width: 100%;
	background-color: #5CC8EF;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 10px;
}

.formInput {
	padding-left: 50px;
}

.registerStep1Wrapper {
	background: #fff;
}

.captchaContainer {
	padding-left: 0;
}

.overlay {
	padding-top: 0.1px;
	background: url('../images/bg.jpg') no-repeat;
	background-size: cover;
}

.formModalFooter {
	overflow: hidden;
	line-height: 70px;
	color: #999;
	height: 60px;
	font-size: 14px;
}

.formModalFooterContent {
	color: #fff;
}

.formPageFooter {
	font-size: 12px;
	text-align: center;
	bottom: 0;
	width: 100%;
	line-height: 18px;
	height: 40px;
	overflow: hidden;
	color: #fff;
}

.loginLink {
	color: #fff;
	text-decoration: none;
}

.formInputField {
	height: 48px;
	margin: 0 auto 5px;
}

#firstName {
	background: url(../images/first-name.png) no-repeat;
	background-position: 14px center;
	background-size: 20px;
}

#lastName {
	background: url(../images/last-name.png) no-repeat;
	background-position: 14px center;
	background-size: 20px;
}

#emailId {
	background: url(../images/iconEmailId.png) no-repeat;
	background-position: 14px center;
	background-size: 20px;
}

#userId {
	background: url(../images/userName.png) no-repeat;
	background-position: 14px center;
	background-size: 20px;
}

#password {
	background: url(../images/key.png) no-repeat;
	background-position: 14px center;
	background-size: 20px;
}

#confirmPassword {
	background: url(../images/double-key.png) no-repeat;
	background-position: 14px center;
	background-size: 20px;
}

.formWrapper {
	border-radius: 4px;
	overflow: hidden;
	background-color: #fff;
}

.overlay .formContainer {
	padding: 25px;
}

.overlay {
	padding: 20px;
}

#messageHeader {
	background: #fff;
	color: #777;
	border-radius: 3px;
}

.accountTypeBox {
	float: left
}

.hierarchySettingsWrapper {
	width: 800px;
	margin: 0 auto;
}

.hierarchySettingsModalContainer {
	background: #FCFCFC;
	border-radius: 3px;
	padding: 20px;
	border:1px #BBC0C6 solid;
}

.leftContainer {
	width: 75%;
}

.form-Button {
	background-color: #77B001;
	width: 100px;
	line-height: 27px;
	text-align: center;
}

.formFooter {
	margin: 0 auto;
	width: 220px;
	color: #E5F0D0;
}

.form-group{
	color:#777;
}
.footer-copyright {
    color: #fcfcfc;
    font-size: 12px;
    margin-bottom: 20px;
}

.login-footer-txt {
    color: #fff;
}

.login-logo {
    height: 62px;
    width: 100%;
}

.login-main-wrapper {
    min-height: 100% !important;
    background: url('../images/bg.jpg') no-repeat;
	background-size: cover;
}

.invitation-min-height {
    min-height: 685px;
}

.login-wrapper-min-height {
    min-height: 660px;
}

.registration-wrapper-min-height {
    min-height: 965px;
}

.error-msg {
    margin-top: -35px;
    line-height: 24px;
    padding: 0 50px;
    margin-bottom: 20px;
}

.forgot-pwd-mobile a{
    color: #fff;
}
.input-icon-internal {
    height: 46px;
    width: 46px;
    margin: 1px 1px 0 0;
    border-radius: 2px;
    position: relative;
    background: url(../images/btn.png) no-repeat center;
}

.input-file-company {
    overflow: hidden;
}

.input-file-icn-left {
    z-index: 99999;
    position: relative;
    background-color: #fff !important;
}

.input-file-text {
    position: absolute;
    left: -48px;
    outline: none;
    height: auto !important;
    top: 14px;
    width: 411px !important;
}

