/* ============== SMARTPHONES ==============*/
@media (max-width: 767px) {
    .login-main-wrapper{
        background: #fff;
    }
    .login-input-wrapper{
        width: 100%;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
        box-shadow: none;
        border: 0;
        border-bottom: 1px solid #D3DEE0;
        margin: 0;
    }
    .login-wrapper-icon{
        width: 15%;
    }
    .login-wrapper-txt{
        width: 82%;
    }
    .btn-submit{
        width: 100%;
        background: #5CC7EF;
        border: 0;
        border-radius: 0;
        margin-bottom: 15px;
    }
    .login-footer-wrapper,.footer-copyright{
        display: none;
    }
    .registration-wrapper-min-height, .invitation-min-height, .login-wrapper-min-height, .company-wrapper-min-height{
        min-height: 450px;
    }
    .login-row{
        margin-top: 0 !important;
    }
    .login-wrapper{
        margin: 0;
        border-radius: 0;
    }
    .login-logo{
        background-color: #F9F9FB;
        margin: 0;
        height: 150px;
        border-bottom: 1px solid #D3DEE0;
    }
    .login-txt{
        margin: 0;
        line-height: 75px;
        font-size: 20px;
        border-bottom: 1px solid #D3DEE0;
    }
    .forgot-pwd-mobile, .have-account-mobile{
        display: block !important;
        padding-left: 25px;
    }
    #reg-form, #login-form, #inv-form, #payment-form{
/*        height: 100%;*/
    }
    .error-msg {
        padding: 0 25px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .login-link{
        color: #555 !important;
    }
    .payment-option-tab{
        width: 100%;
    }
    .msg-err-icn{
        min-width: 50px;
        width: 15%;
    }
    .hm-content-right{
        border-left: 0;
    }
}



/* ============== ANTHING ABOVE SMARTPHONES ==============*/
@media (min-width: 768px) {
    .login-wrapper-resp{
        width: 457px;
        float: none;
        box-shadow: 0px 1px 20px 2px #7C7C7C;
    }
    
    .error-wrapper{
        width: 365px;
        margin: 0 auto 25px;
    }
    .login-footer-wrapper{
        width: 457px;
        float: none;
        margin-top: -5px;
        padding: 0;
    }
    .payment-form {
        max-width: 960px;
        width: auto;
        padding-bottom: 30px;
    }
    .padding-left-25 {
        padding-left: 25px;
    }
    .padding-right-25{
        padding-right: 25px;
    }
    .header-links{
        font-size: 16px;
    }
}



/* ============== ONLY TABLETS ==============*/
@media (min-width: 768px) and (max-width: 991px) { 
    .payment-option-tab{
        width: 50%;
    }
    .header-logo{
        width: 125px;
    }
    .header-links{
        margin-left: 20px;
    }
    .header-links-item{
        padding: 0 5px;
        font-size: 13px;
        line-height: 94px;
    }
    .user-info-seperator{
        width: 25px;
    }
    .user-info-logo{
        width: 125px;
    }
    .hm-content-right{
        border-left: 0;
    }
}

/* ============== MEDIUM SIZED SCREENS ==============*/
@media (min-width: 992px) and (max-width: 1199px) {
    .hm-item-row{
        width: 100%
    }
    .hm-item-row-txt{
        width: 280px;
    }
}

/* ============== LARGE SIZED SCREENS ==============*/
@media (min-width: 1200px) {
    
}































