@font-face{
	font-family:'OpenSansLight';
	src:url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face{
	font-family:'OpenSans';
	src:url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

*{
    font-family: 'OpenSans';
    font-weight: normal !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    color: #666;
}

input,textarea{
	outline: none;
	resize: none !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.input-error{
    border: 1px solid red !important;
    margin-top: -1px !important;
}

.box-border-box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.clearfix:after,.clearfix:before {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.float-left{
	float: left;
}

.float-right {
	float: right;
}

.hide{
	display: none;
}

.show{
    display: block;
}

.margin-0-auto{
    margin: 0 auto;
}

.logo {
    background: url(../images/logo.png) no-repeat center;
}

.bg-fff {
    background-color: #fff;
}

.font-24 {
    font-size: 24px;
}

.login-input-wrapper {
    margin-bottom: 25px;
    height: 50px;
    width: 365px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 2px 2px 0px #e3e3e3;
}

.login-wrapper-icon {
    height: 50px;
    width: 50px;
    min-width: 50px;
}

.login-wrapper-txt {
    height: 50px;
    width: 313px;
    min-width: 245px;
    border: none;
    padding: 0 10px;
    color: #999;
    outline: none !important;
}

.margin-bot-20 {
    margin-bottom: 20px;
}

.btn-submit {
    margin-bottom: 50px;
    text-transform: uppercase;
    height: 50px;
    width: 365px;
    border-radius: 3px;
    color: #fff;
    line-height: 50px;
/*    background: url(../images/btn-submit.png) no-repeat center;*/
    background: #5CC7EF;
    background-size: 100% auto;
}

.btn-submit:hover{
    background: #7AB400;
}

.font-18 {
    font-size: 18px;
}

.login-wrapper {
    border-top: 5px solid #5cc7ef;
    border-radius: 4px;
}

.padding-001 {
    padding: 1px 0 1px 0;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.cursor-pointer {
    cursor: pointer;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.icn-fname {
    background: url('../images/first-name.png') no-repeat center;
}

.icn-lname {
    background: url('../images/last-name.png') no-repeat center;
}

.icn-email {
    background: url('../images/email.png') no-repeat center;
}

.icn-user-id {
    background: url('../images/User.png') no-repeat center;
}

.icn-password {
    background: url('../images/password.png') no-repeat center;
}

.icn-confirm-password {
    background: url('../images/conf_pwd.png') no-repeat center;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.login-link{
    color: #fcfcfc;
}

.login-link:hover{
    color: #fcfcfc;
    text-decoration: none;
}
.icn-company {
    background: url('../images/company.png') no-repeat center;
}

.icn-address {
    background: url(../images/address-1.png) no-repeat center;
}

.icn-zip {
    background: url(../images/zip.png) no-repeat center;
}

.icn-contact {
    background: url(../images/ph.png) no-repeat center;
}

.pos-relative {
    position: relative;
}

.payment-option-tab {
    width: 25%;
    padding: 15px;
    cursor: pointer;
}

.payment-tab-main {
    background-color: #F9F9F9;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #cfcfcf;
    padding-bottom: 30px;
}

.payment-tab-header {
    line-height: 50px;
    font-size: 18px;
}

.payment-tab-price {
    color: #fff;
    background-color: #5CC8EF;
    line-height: 50px;
    font-size: 22px;
}

.payment-tab-line1 {
    font-size: 20px;
    line-height: 36px;
    color: #ADADAD;
    font-family: 'OpenSansLight' !important;
}

.txt-thin {
    font-size: 16px;
    font-family: 'OpenSansLight' !important;
}

.payment-txt-price sup{
    font-size: 14px;
}
.payment-tab-line2 {
    color: #ADADAD;
    line-height: 22px;
    font-size: 14px;
    font-family: 'OpenSansLight' !important;
    padding: 0 5px;
}

.payment-tab-line1 strong{
    color: #555;
}
.btn-payment-sel {
    border-radius: 3px;
    color: #fff;
    font-family: 'opensanslight' !important;
    background-color: #5CC8EF;
    font-size: 13px;
    line-height: 36px;
    text-align: center;
    width: 80%;
    margin: -18px auto 0;
}

.payment-details-wrapper {
    padding: 25px;
}

.payment-dropin {
    border-radius: 3px;
    margin-bottom: 20px;
}

html.is-modern.card-root.js.no-touch.csstransitions.svg.inlinesvg.placeholder{
    border: 1px solid #cfcfcf;
}

.company-wrapper-min-height {
    min-height: 985px;
}

.payment-method-options .button{
    margin: 10px;
}
.error-wrapper {
    line-height: 24px;
    background-color: rgba(255,255,255,0.4);
    font-size: 14px;
    margin: 0 auto 25px;
}

.error-message{
    padding: 10px;
}

.success-message{
    padding: 10px;
}
.msg-err-icn {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    margin-right: 10px;
}

.msg-err-txt-area{
    width: 81%;
}

.err-msg-area {
    height: 50px;
    position: relative;
}

.err-msg-con {
    position: absolute;
    height: 50px;
    display: table;
}

.err-msg-con p{
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

.overlay-loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 999999999;
    background: url(../images/loader.gif) no-repeat center;
    background-color: rgba(255,255,255,0.7);
}

.btn-payment{
    border-radius: 3px;
    color: #fff;
    background-color: #5CC8EF;
    font-size: 13px;
    line-height: 36px;
    text-align: center;
    width: 150px;
    box-shadow: none;
    border: 0;
}

.validation-msg-wrapper {
    margin-top: 25px;
}

.jsErrIcn{
    background: url(../images/err.png) no-repeat center;
    background-size: 32px;
}
.header-main-wrapper {
    border-top: 5px solid #5cc7ef;
    background-color: #F9F9FB;
}

.header-logo {
    height: 78px;
    width: 150px;
    background: url(../images/logo.png) no-repeat center;
    background-size: 100% auto;
}

.header-container {
    height: 78px;
}

.header-links {
    height: 78px;
    overflow: hidden;
    margin-left: 50px;
    color: #555;
    font-size: 13px;
}

.header-links-item {
    float: left;
    line-height: 100px;
    height: 78px;
    padding: 0 15px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-50 {
    margin-left: 50px;
}

.user-info-logo {
    height: 78px;
    width: 145px;
    background: url(../images/userInfoLogo.png) no-repeat center;
    background-size: 100% auto;
}

.user-info-seperator {
    height: 78px;
    width: 36px;
}

.user-info-initial {
    height: 40px;
    width: 40px;
    background-color: #5cc7ef;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-top: 19px;
    color: #fff;
    font-weight: bold !important;
}

.footer-main-wrapper {
    height: 78px;
    background-color: #F9F9FB;
    border-top: 1px solid #dcdcdc;
}

.footer-text {
    line-height: 78px;
    color: #888;
    font-size: 12px;
}

.hm-header-row {
    height: 78px;
    color: #fff;
}

.hm-header-row-left {
    font-size: 22px;
    line-height: 78px;
}

.hm-header-row-right {
    width: 185px;
    height: 40px;
    line-height: 40px;
    margin-top: 19px;
    text-align: center;
    background-color: #77b000;
}

.hm-header-main-wrapper {
    background-color: #26bdef;
}

.hm-item-header {
    color: #555;
    font-family: 'OpenSansLight' !important;
    line-height: 44px;
    font-size: 20px;
    border-bottom: 1px solid #dcdcdc;
}

.hm-item-header-right {
    height: 44px;
    width: 44px;
}

.icn-plus {
    cursor: pointer;
    background: url(../images/iconPlus.png) no-repeat center;
}

.padding-right-0 {
    padding-right: 0;
}

.hm-item-header-left {
    font-family: 'OpenSansLight' !important;
    
}

.hm-item-content {
    padding: 20px 0 0 0;
}

.hm-item-row {
    width: 480px;
    margin: 0 auto 25px;
}

.hm-item-row-left {
    width: 115px;
    float: left;
    line-height: 50px;
}

.hm-item-row-txt {
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    box-shadow: 0px 2px 2px 0px #e3e3e3;
    width: 323px;
    height: 50px;
    padding: 0 10px;
}

.hm-item-row-right {
    float: right;
}

.icn-save {
    height: 40px;
    width: 40px;
    margin-right: 40px;
    margin-left: 10px;
    background: url(../images/icnSave.png) no-repeat center;
}

.add-curve-btn {
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 40px;
    background: url(../images/iconPlus.png) no-repeat;
    background-position: 6px center;
    border: 1px solid #5cc7ef;
    border-radius: 20px;
    color: #5cc7ef;
}

.no-border {
    border: 0 !important;
}

.padding-25 {
    padding: 25px;
}

.hm-sub-header {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #dcdcdc;
}

.icn-search {
    background: url(../images/search.png) no-repeat center;
}

.hm-sub {
    height: 60px;
    width: 40px;
}

.hm-sub-height-adjust {
    height: 60px;
    width: 22px;
}

.hm-sub-search-txt {
    width: 150px;
    outline: none;
    border: 0;
    height: 59px;
}

.hm-sub-header-left {
    color: #555;
    font-family: 'OpenSansLight';
    font-size: 20px;
}

.hm-left-item-bottom {
    padding-right: 25px;
    padding-left: 25px;
}

.hm-sub-item {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #dcdcdc;
}

.hm-sub-item-left {
    color: #505050;
    font-family: 'OpenSansLight';
    font-size: 14px;
}

.icn-remove {
    background: url(../images/icnRemove.png) no-repeat center;
}

.hm-item-height-adjust {
    height: 50px;
    width: 22px;
}

.hm-content-right {
    padding-left: 0;
}

.hm-right-item {
    border-bottom: 1px solid #dcdcdc;
    padding: 0 0 0 45px;
}

.hm-dd-wrapper {
    position: absolute;
    width: 323px;
    background-color: #fff;
    padding: 8px;
    border: 1px solid #dcdcdc;
}

.hm-dd-item {
    border-bottom: 1px solid #dcdcdc;
    line-height: 36px;
    cursor: pointer;
}

.hm-dd-item:last-child{
    border-bottom: 0;
}



.z-in-9 {
    z-index: 99999;
}

.hm-top-panel-content {
    margin: 25px 0;
    border-bottom: 1px solid #dcdcdc;
}

.hm-btn-wrapper-fix {
    width: 235px;
}

.margin-right-0 {
    margin-right: 0;
}

.margin-top-5 {
    margin-top: 5px;
}

.hm-bottom-panel {
    padding-right: 25px;
    padding-left: 25px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-0150 {
    padding: 0 15px 0;
}
