.clearfix:after,.clearfix:before {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.formModalContainer {
	width: 380px;
	margin: 0 auto;
	border-radius: 3px;
}

#formHeaderBar {
	height: 92px;
	background: url(../images/logo.png) no-repeat center;
	background-color: #fff;
	position: relative;
}

.formBodyMainText {
	line-height: 60px;
	font-size: 22px;
	text-align: center;
	text-transform: capitalize;
}

.formButton {
	width: 100%;
	background-color: #5CC8EF;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 10px;
}

.formInput {
	padding-left: 50px;
}

.registerStep1Wrapper {
	background: #fff;
}

.captchaContainer {
	padding-left: 0;
}

.overlay {
	padding-top: 0.1px;
	background: url('../images/bg.jpg') no-repeat;
	background-size: cover;
}

.formModalFooter {
	overflow: hidden;
	line-height: 70px;
	color: #999;
	height: 60px;
	font-size: 14px;
}

.formModalFooterContent {
	color: #fff;
}

.formPageFooter {
	font-size: 12px;
	text-align: center;
	bottom: 0;
	width: 100%;
	line-height: 18px;
	height: 40px;
	overflow: hidden;
	color: #fff;
}

.loginLink {
	color: #fff;
	text-decoration: none;
}

.formInputField {
	height: 48px;
	margin: 0 auto 5px;
}

.formWrapper {
	border-radius: 4px;
	overflow: hidden;
	background-color: #fff;
}

.overlay .formContainer {
	padding: 25px;
}

.overlay {
	padding: 20px;
}

#messageHeader {
	background: #fff;
	color: #777;
	border-radius: 3px;
}

.accountTypeBox {
	float: left
}

.hierarchySettingsWrapper {
	width: 800px;
	margin: 0 auto;
}

.hierarchySettingsModalContainer {
	background: #FCFCFC;
	border-radius: 3px;
	padding: 20px;
	border:1px #BBC0C6 solid;
}

.leftContainer {
	width: 75%;
}

.form-Button {
	background-color: #77B001;
	width: 100px;
	line-height: 27px;
	text-align: center;
}

.formFooter {
	margin: 0 auto;
	width: 220px;
	color: #E5F0D0;
}

.form-group{
	color:#777;
}
.footer-copyright {
    color: #fcfcfc;
    font-size: 12px;
    margin-bottom: 20px;
}

.login-footer-txt {
    color: #fff;
}

.login-logo {
    height: 62px;
    width: 100%;
}

.login-main-wrapper {
    height: 100% !important;
    background: url('../images/bg.jpg') no-repeat;
	background-size: cover;
}

.invitation-min-height {
    min-height: 750px;
}

.login-wrapper-min-height {
    min-height: 730px;
}

.registration-wrapper-min-height {
    min-height: 980px;
}

.error-msg {
    margin-top: -35px;
    line-height: 24px;
    padding: 0 50px;
    margin-bottom: 20px;
}

.forgot-pwd-mobile a{
    color: #fff;
}
.input-icon-internal {
    height: 36px;
    width: 36px;
    margin: 1px 1px 0 0;
    border-radius: 2px;
    position: relative;
    background: url(../images/btn.png) no-repeat center;
}

.input-file-company {
    overflow: hidden;
}

.input-file-icn-left {
    z-index: 99999;
    position: relative;
    background-color: #fff !important;
}

.input-file-text {
    position: absolute;
    left: -48px;
    outline: none;
    height: auto !important;
    top: 14px;
    width: 411px !important;
}

.hm-content-right {
    border-left: 1px solid #dcdcdc;
}

.hm-left-item {
    padding: 0 45px 0 0;
}

.file-main {
    position: relative;
    top: -97px;
    opacity: 0;
}

.file-pick-logo {
    top: -50px;
}

.hm-main-content-wrapper {
    position: relative;
    z-index: 9;
}

.registration-wrapper-min-height .login-row {
    margin-top: 80px;
}

.header-slider-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    z-index: 999999999;
    top: 0;
}

.rt-panel-slide{
     transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

.header-links-slider {
    display: block !important;
    float: none !important;
    top: 0 !important;
    box-shadow: none !important;
}

.st-score-txt {
    height: 110px;
    line-height: 26px;
    width: 50%;
    border-right: 1px solid #dcdcdc;
}
.wd-score-txt{
	 height: 110px;
    line-height: 26px;
    width: 50%;
}

.icn-spanner {
    background: url(../images/spanner.png) no-repeat center;
}

.icn-blue-tick {
    background: url(../images/blue-tick.png) no-repeat center;
}

.icn-full-star {
    background: url(../images/full-star.png) no-repeat center;
}

.icn-half-star {
    background: url(../images/half-star.png) no-repeat center;
}

.icn-no-star {
    background: url(../images/no-star.png) no-repeat center;
}

.icn-pen {
    background: url(../images/pen.png) no-repeat center;
}

.st-checkbox-on {
    background: url(../images/check-yes.png) no-repeat center;
}

.st-checkbox-off {
    background: url(../images/check-no.png) no-repeat center;
}

.lp-con-icn {
    height: 32px;
    width: 26px;
    margin: 0 15px 0 5px;
}

.update-card-details-txt{
    display: block;
    width: 100% !important;
    min-width: 100px !important;
    margin-bottom: 10px;
    height: 40px;
    padding: 0 10px;
}
.card-det-adj{
    margin-bottom: 30px;
}
.card-err-txt{
    line-height: 24px;
    padding-left: 10px;
    font-size: 12px;
    color: #DE3838;
    margin-bottom: 10px;
}

.st-widget-txt {
    line-height: 26px;
    width: 100%;
}
/* ============== new registration style==============*/

.reg-left-container{
	height:100%;
}
.reg-ss-logo{
	width:160px;
	height:30px;
	margin:20px 0 0 20px;
}
.reg-right-container{
	background-color:#326AAD;
	height:100%;
}

.reg-create-account{
	font-size: 30px;
    margin-top: 40px;
}

.reg-name{
	width: 48%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    padding: 0 10px;
    min-width: 170px;
}

.reg-details{
	width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    padding: 0 10px;
    min-width: 180px;
}
.reg-pswd-info{
	font-size: 14px;
    font-weight: 600 !important;
    color: #B7B7B7;
    margin: 10px 0 20px 0;
}
.reg-pln-btn{
	background-color: #C4C4C4;
    height: 50px;
    line-height: 22px;
    width: 120px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 15px;
    font-family: 'opensanssemibold';
    cursor: pointer;
}
.reg-req-field{
	font-size: 14px;
    font-weight: 600 !important;
    margin: 10px 0;
}
#reg-start-individual:hover{
	background-color:#37A872;
}
#reg-start-business:hover{
	background-color:#4F85CA;
}
.reg-individual-click{
	background-color:#37A872;
}
.reg-business-click{
	background-color:#4F85CA;
}
#reg-nav>.active>a{
	background-color:#FFFFFf !important;
}
.reg-linkedin-border{
	border: 1px solid #D7D7D7;
    border-radius: 5px;
}
.reg-auth-linkedin-btn{
	background-color: #38B278;
    height: 40px;
    line-height: 35px;
    width: 300px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 15px;
    font-family: 'opensanssemibold';
    cursor: pointer;
}
.reg-auth-linkedin-wrapper{
	width: 100%;
    padding: 15px;
}
.reg-linkedin-imp{
	font-size: 18px;
    font-weight: 800 !important;
}
.reg-linkedin-imp-info{
	font-size: 16px;
    margin: 10px 0;
}
.reg-or-line{border-bottom: 1px solid #C4C4C4;
    width: 45%;
    padding: 15px 0;
}
.reg-or{
	padding: 20px 0;
    width: 10%;
    text-align: center;
    color: #C4C4C4;
}
.reg-linkedin-manual{
	text-align: center;
    color: #C4C4C4;
}
.reg-quick-setup{
    font-size: 30px;
    margin-top: 40px;
    float: none;
    margin-bottom: 20px;
    padding: 0;
}
.reg-next{
	float: right;
    margin-top: 190px;
    background-color: #4C84C7;
    height: 45px;
    line-height: 45px;
    width: 115px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'opensanssemibold';
    cursor: pointer;
    margin-right: 10px;
}

//drop down
.dropzone,
.dropzone * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dropzone {
  position: relative;
  min-height: 260px;
  border: 2px dashed rgba(0,0,0,0.3);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgba(0,0,0,0.03);
  padding: 23px;
}
.dropzone.drag-hover {
  border-color: rgba(0,0,0,0.15);
  background: rgba(0,0,0,0.04);
}
.dropzone.drag-hover .message {
  opacity: 0.15;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
}
.dropzone.started .message {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.dropzone .message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background: url("http://dl.dropbox.com/u/1559658/dropzone/spritemap.png") no-repeat 0 -108px;
  position: absolute;
  width: 168px;
  height: 157px;
  margin-left: -84px;
  margin-top: -78.5px;
  top: 50%;
  left: 50%;
}
.dropzone .message span {
  display: none;
}
.dropzone.browser-not-supported {
  padding: 30px;
}
.dropzone.browser-not-supported .message {
  position: relative;
  background: url("http://dl.dropbox.com/u/1559658/dropzone/spritemap.png") no-repeat 0 0;
  width: 204px;
  height: 108px;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 20px;
}
.dropzone .preview {
  width: 100px;
  height: 136px;
  display: inline-block;
  margin: 18px;
  position: relative;
}
.dropzone .preview .details {
  width: 100px;
  height: 100px;
  position: relative;
}
.dropzone .preview .details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.dropzone .preview .details .size {
  color: #666;
  font: 500 31px/31px "League Gothic", sans-serif;
  position: absolute;
  bottom: 2px;
  left: 17px;
  z-index: 100;
}
.dropzone .preview .details .content {
  font-size: 3px;
  white-space: pre;
  position: absolute;
  top: 5px;
  left: 12px;
  right: 19px;
  bottom: 5px;
  overflow: hidden;
  line-height: 100%;
  cursor: default;
  word-wrap: break-word;
}
.dropzone .preview.file-preview .details {
  background: url("http://dl.dropbox.com/u/1559658/dropzone/spritemap.png") no-repeat 8px -265px;
}
.dropzone .preview.image-preview .details .size {
  display: none;
  color: #000;
}
.dropzone .preview.image-preview .details:hover .size {
  display: block;
}
.dropzone .preview.image-preview .details:hover img {
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
.dropzone .preview.success .success-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone .preview.success .progress .upload {
  background: #6fb61d;
}
.dropzone .preview.error .error-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone .preview.error .progress .upload {
  background: #bc311f;
}
.dropzone .preview .error-mark,
.dropzone .preview .success-mark {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  width: 42px;
  height: 42px;
  top: -10px;
  left: -5px;
}
.dropzone .preview .error-mark span,
.dropzone .preview .success-mark span {
  display: none;
}
.dropzone .preview .error-mark {
  background: url("http://dl.dropbox.com/u/1559658/dropzone/spritemap.png") no-repeat 0 -365px;
}
.dropzone .preview .success-mark {
  background: url("http://dl.dropbox.com/u/1559658/dropzone/spritemap.png") no-repeat -42px -365px;
}
.dropzone .preview .progress {
  position: relative;
  margin: 8px 0 4px 0;
  height: 10px;
  background: rgba(0,0,0,0.08);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.dropzone .preview .progress .upload {
  -webkit-animation: loading 0.4s linear infinite;
  -moz-animation: loading 0.4s linear infinite;
  -o-animation: loading 0.4s linear infinite;
  -ms-animation: loading 0.4s linear infinite;
  animation: loading 0.4s linear infinite;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: url("http://dl.dropbox.com/u/1559658/dropzone/spritemap.png") repeat-x 0px -407px;
}
.dropzone .preview .filename {
  font-size: 12px;
  height: 12px;
  position: relative;
}
.dropzone .preview .filename span {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.dropzone .preview .error-message {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: -5px;
  left: -20px;
  background: rgba(245,245,245,0.8);
  padding: 8px 10px;
  color: #800;
  min-width: 140px;
  max-width: 500px;
  z-index: 500;
}
.dropzone .preview:hover.error .error-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
@-moz-keyframes loading {
  0% {
    background-position: 0 -407px;
  }

  100% {
    background-position: -14px -407px;
  }
}
@-webkit-keyframes loading {
  0% {
    background-position: 0 -407px;
  }

  100% {
    background-position: -14px -407px;
  }
}
@-o-keyframes loading {
  0% {
    background-position: 0 -407px;
  }

  100% {
    background-position: -14px -407px;
  }
}
@-ms-keyframes loading {
  0% {
    background-position: 0 -407px;
  }

  100% {
    background-position: -14px -407px;
  }
}
@keyframes loading {
  0% {
    background-position: 0 -407px;
  }

  100% {
    background-position: -14px -407px;
  }
}
