@font-face{
    font-family:'OpenSans';
    src: url('../fonts/OpenSans-Regular-webfont.eot')
		format('embedded-opentype'),url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face{
    font-family:'OpenSansLight';
    src:url('../fonts/OpenSans-Light-webfont.eot')
		format('embedded-opentype'),url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face{
    font-family:'OpenSansSemiBold';
    src:url('../fonts/OpenSans-Semibold-webfont.eot')
		format('embedded-opentype'),url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}

@font-face{
    font-family:'OpenSansBold';
    src:url('../fonts/OpenSans-Bold-webfont.eot')
		format('embedded-opentype'),url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

*{
    font-family: 'OpenSans';
    font-weight: normal;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
}

input,textarea{
    outline: none;
    resize: none !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.box-border-box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.clearfix:after,.clearfix:before {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

a, a:hover, a:visited{
    text-decoration: none !important;
}

.float-left{
    float: left;
}

.float-right {
    float: right;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.margin-0-auto{
    margin: 0 auto;
}

.font-22{
	font-size:22px;
}

.body-wrapper {
    overflow: hidden;
}

.ss-logo {
    background: url(../images/ss-logo.png) no-repeat center;
}

.header-logo-wrapper {
    height: 80px;
    width: 175px;
    background-color: rgba(0, 159, 224, 0.8);
}

.header-login-wrapper {
    width: 505px;
    height: 80px;
    background-color: rgba(0, 159, 224, 0.8);
}

.h-email-lbl {
    text-transform: uppercase;
}

.h-lbl {
    margin-bottom: 2px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.h-inp {
    width: 192px;
    height: 33px;
    border: 0;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 10px;
}

.fgt-pwd {
    font-size: 11px;
    text-transform: none;
    cursor: pointer;
}

.fgt-pwd a{
    color: #fff !important;
}

.fgt-pwd a:hover{
    color: #fff !important;
}

.h-btn-login {
    width: 80px;
    line-height: 35px;
    cursor: pointer;
    color: #fff;
    background-color: #7fba00;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
}

.hero-txt-wrapper {
    font-size: 30px;
    width: 705px;
    margin: 2px auto;
    padding: 20px;
    text-align: center;
    line-height: 34px;
    text-shadow: 2px 2px 46px rgba(255,255,255,0.5);
}

.txt-header-small{
    font-size: 22px;
}

.index-body {
    background: url(../images/bg-main.png) no-repeat center;
    background-size: cover;
}

.txt-bold {
    font-family: 'OpenSansBold';
}

.h-email-wrapper {
    margin: 10px;
    margin-top: 17px;
}

.h-pwd-wrapper {
    margin: 17px 10px 10px 0;
}

.h-login-btn-wrapper {
    margin: 35px 10px 10px 0;
}

.c-pic-panel {
    margin-right: 15px;
    width: 715px;
}

.c-pic-top-1 {
    position: relative;
    width: 535px;
    height: 180px;
    color: #fff;
    margin-right: 5px;
    padding: 15px;
}

.c-pic-top-2 {
    background: url(../csssprites/home.png) no-repeat 0px 0px;
    background-size: auto 100%;
}

.c-pic-img {
    position: relative;
    width: 175px;
    height: 180px;
    background-color: #000;
}

.c-pic-bot-2 {
    background: url(../csssprites/home.png) no-repeat -231px 0px;
    background-size: auto 100%;
    margin-right: 5px;
}

.c-pic-bot-3 {
    background: url(../csssprites/home.png) no-repeat -693px 0px;
    background-size: auto 100%;
    margin-right: 5px;
}

.c-pic-bot-4 {
    background: url(../csssprites/home.png) no-repeat -462px 0px;
    background-size: auto 100%;
}

.c-panel-txt-top {
    position: relative;
    z-index: 99;
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: bold !important;
    font-family: opensans;
    text-transform: capitalize;
}

.pic-bot-txt {
    font-size: 12px;
    position: absolute;
    background: rgba(0,0,0,0.3);
    color: #fff;
    bottom: 0;
    width: 100%;
    padding: 0 10px;
    height: 55px;
}

.c-pic-bot-1 {
    background: url(../csssprites/home.png) no-repeat -924px 0px;
    background-size: auto 100%;
    margin-right: 5px;
}

.c-reg-panel {
    padding: 20px;
    height: 365px;
    background-color: rgba(0, 159, 224, 0.8);
    width: 410px;
    color: #fff;
    position: relative;
}

.c-pic-panel-top {
    margin-bottom: 5px;
}

.reg-inp {
    color: #3e3e3e;
    height: 40px;
    border: 0;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 10px;
}

.reg-inp-1 {
    margin-right: 8px;
    width: 179px;
}

.reg-inp-2 {
    width: 179px;
}

.reg-inp-3 {
    width: 100% !important;
    margin: 0 !important;
}

.reg-item {
    position: relative;
    margin-bottom: 10px;
}

.reg-item:last-child {
    margin-bottom: 0;
}

.reg-captcha-img {
    height: 58px;
    border-bottom: 1px solid #dcdcdc;
    background: #fff;
}

.reg-captcha-wrapper {
    border-radius: 3px;
    overflow: hidden;
}

.reg-cap-img {
    width: 38px;
    height: 36px;
    border-left: 1px solid #dcdcdc;
    background-color: #fff !important;
}

.reg-cap-txt {
    width: 256px;
    height: 36px;
    padding: 0 10px;
    border: 0;
    font-size: 12px;
    color: #3e3e3e;
}

.reg-btn {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #7fba00;
    font-size: 14px;
}

.reg-txt-top1 {
    font-size: 18px;
    margin-top: -14px;
    font-weight: bold;
}

.reg-txt-top2 {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 13px;
}

.pic-bot-txt-top {
    line-height: 22px;
}

.pic-bot-txt-bot {
    margin-top: -3px;
}

.pro-left-wrapper {
    text-align: right;
    font-size: 18px;
    width: 535px;
    line-height: 70px;
    height: 70px;
    background-color: rgba(0, 159, 224, 0.8);
    color: #fff;
    margin-right: 5px;
    padding: 0 25px;
    position: relative;
}

.pro-right-wrapper {
    position: relative;
    width: 600px;
    height: 70px;
    color: #fff;
    padding: 15px;
}

.pro-inp {
    color: #3e3e3e;
    display: block;
    float: left;
    width: 192px;
    margin-right: 0;
    height: 40px;
    border: 0;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 10px;
    margin-right: 10px;
    z-index: 99;
    background-color: #fff !important;
    background-position: -50px !important;
    position: relative;
}

.pro-btn {
    margin-right: 0;
    color: #fff !important;
    cursor: pointer;
    background-color: #7fba00 !important;
    font-size: 14px !important;
}

input#find-pro-submit{
    width: 161px;
    margin: 0px 0 10px 5px;
}

.pro-wrapper {
    margin-top: 15px;
}

.reg-cap-reload {
    background: url(../images/refresh.png) no-repeat center;
}

.reg-cap-sound {
    background: url(../images/Audio-and-Text.png) no-repeat;
    background-position: 12px center;
}

.reg-cap-text {
    background-position: -52px center !important;
}

.reg-cap-info {
    background: url(../images/info.png) no-repeat center;
}

.footer-container {
    font-size: 12px;
    text-align: center;
    color: #3e3e3e;
    font-family: 'opensanslight';
}

.footer-wrapper {
	margin: 20px auto;
	max-width: 470px;
	text-align: center;
	font-size: 12px;
}

.hdr-log-reg-btn {
    font-size: 12px;
    margin-top: 19px;
    padding: 0 25px;
    cursor: pointer;
    height: 28px;
    line-height: 28px;
}

.hdr-btns-wrapper {
    color: #fff;
}

.hdr-wrapper {
    height: 60px;
    background-color: #009FE0;
    z-index: 999;
    position: relative;
}

.hdr-logo {
    height: 60px;
    width: 180px;
    background: url(../images/ss-logo.png) no-repeat;
    background-size: 65%;
    background-position: left center;
    cursor: pointer;
}

.hdr-logo-blue {
    height: 78px;
    width: 160px;
    background: url(../images/ss-logo-blue.png) no-repeat;
    background-size: 100%;
    background-position: left center;
}

.ss-logo-blue {
    margin-left: 82px;
    height: 50px;
    width: 100%;
    background: url(../images/ss-logo-blue.png) no-repeat;
    background-size: 66%;
}

.hdr-reg-btn {
    border: 1px solid #fff;
    border-radius: 3px;
}

.hr-txt {
    font-family: 'opensanssemibold';
    font-size: 18px;
    text-align: center;
    line-height: 70px;
}

.fp-container {
    height: 65px;
    background-color: #009FE0;
    color: #fff;
}

.fp-left-item {
    font-family: 'opensanssemibold';
	font-size: 18px;
	text-align: right;
	line-height: 65px;
	padding-left: 15px;
}

.fp-wrapper {
    height: 65px;
}

.fp-inp {
    color: #3e3e3e;
    display: block;
    float: left;
    width: 200px;
    margin-right: 0;
    height: 32px;
    border: 0;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 10px;
    margin-right: 10px;
}

.srch-name {
   font-size:12px;
}

.ctnt-item-desig {
   font-size:11px;
   font-family: 'opensanssemibold';
}

.srch-num {
    font-weight: bold;
}

.ctnt-list-item {
    padding: 20px;
    min-height: 108px;
    border-bottom: 1px solid #EEEDE9;
    padding: 15px 10px 20px 10px;
    cursor: pointer;
}

.ctnt-review-btn {
    cursor: pointer;
    background-color: #009FE0;
    color: #fff;
    width: 160px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	border-radius: 3px;
	font-size: 14px;
}

.ctnt-item-name {
    color: #009FE0;
}

.fp-right-item{
	margin-left: 40px;
	margin-top: 17px;
}

.fp-row-wrapper{
	margin:0 auto;
	width:890px;
}

.ctnt-list-item-img{
	width : 70px;
	height : 70px;
	margin: auto 10px;
	background: url(../images/place-holder-individual.png) no-repeat center;
	background-size: contain;
	border-radius: 3px;
    margin-left: 0;
}
/* .ppl-share-social{
	position:absolute;
	left: 10px;
    top: 93%;
	
} */
.pro-list-default-img {
	background: url(../images/place-holder-individual.png) no-repeat center;
	background-size: contain;
}

.ctnt-list-item-txt-wrap{
	overflow: hidden;
	width:60%;
}

.ctnt-list-header{
	border-bottom: 1px solid #EEEDE9;
	margin-top: 35px;
    line-height: 30px;
    font-size: 12px;
    padding-right: 10px;
}

.ctnt-list-wrapper{
	margin-bottom: 2px;
    padding-top: 10px;
    font-size: 12px;
    padding-top: 10px;
}

.ctnt-list-item-even{
	background-color: #fafaf9;
}
.blue-ext-left {
    position: absolute;
    width: 1500px;
    height: 180px;
    background-color: rgba(0, 159, 224, 0.8);
    top: 0;
    right: 0;
    z-index: 9;
}

.c-panel-txt-bot {
    position: relative;
    z-index: 99;
    font-size: 15px;
    line-height: 22px;
    width: 428px;
    padding-top: 5px;
}

.blue-ext-right {
    position: absolute;
    width: 1500px;
    height: 70px;
    background-color: rgba(0, 159, 224, 0.8);
    top: 0;
    left: 0;
}

.ctnt-wrapper {
    margin-bottom: 50px;
}

.ads-container {
	background-size: contain;
	margin-top: 15px;
	padding: 0;
}

.fp-txt-1 {
    position: relative;
}

.h-inp-wrapper {
    position: relative;
}

.m-inp-img {
    position: absolute;
    left: 0;
    width: 50px;
    height: 44px;
    top: 0;
    display: none;
    z-index: 999999;
}

.m-inp-img-adj {
    left: 48%;
}

.header-row {
    position: relative;
}

.header-search-icn {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/search_white.png) no-repeat center 8px;
    background-color: rgba(0, 159, 224, 0.8);
    background-size: 28px;
    display: none;
}

.pro-wrapper-top {
    margin: 0 !important;
}

.reg-err-pu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.95);
    color: #E55757;
    text-align: center;
    line-height: 65px;
}

.reg-err-pu-msg{
    font-weight: bold !important;
}

.reg-err-pu-close {
   display: inline-block;
    width: 24px;
    background: url(../images/close-red.png) no-repeat center;
    background-size: 22px;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.95);;
    cursor: pointer;
}

.disclaimer {
    color: #fff;
    font-size: 12px;
    font-family: opensanslight !important;
}
/*styles for single review popup*/
.dismiss-single-review-popup{
	float: right; 
	color: white; 
	opacity: 1; 
	margin-right: 10px; 
	margin-top: 5px; 
	font-size: x-large;
}

.single-review-popup-wrapper{
	position: relative;
    top: 100px;
    width: 700px;
    margin: 0 auto 20px;
    background: #fff;
    border-radius: 8px;
}

.single-review-popup-hdr-wrapper{
    background: #f2f2f2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 2.5% 2.5% 2.5% 2.5%;
}

.sr-popup-hdr-details{
	display: grid;
	padding-left: 0%;
}

.sr-review-details{
    display: grid;
    padding: 5px;
    padding-top: 50px;
    margin-left: 40px;	
}

.sr-reviewed-by{
	font-weight: bold !important;
    margin-bottom: 30px;
    word-wrap: break-word;	
}

.sr-margin-bottom-50{
	margin-bottom: 50px;
}

.sr-review-content{
	padding: 60px;
    border-left: 1px solid #d6d5d5;
    margin-top: 25px;
    display: grid;
    padding-top: 25px;
    float: right;
    padding-right: 45px;
    padding-left: 30px;
    margin-bottom: 25px;
}

.sr-ppl-content{
	clear: both;
    font-weight: bold !important;
    font-size: 18px;
    line-height: unset;
   	word-wrap: break-word;
}

.comp-logo-srp{
    width: 150px;
    height: 50px;
    float: right;
    background: #f9f9fb;
    background-size: contain !important;
}

.overlay-single-review{
	position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 9999;
    min-height: 480px;
    padding-bottom: 100px;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.52));
}

.sr-prof-pic-circle {
	width: 50px;
	margin: 0 auto;
}

.sr-wc-btn-row {
	background: #f2f2f2;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 2%;
}

.sr-report-review{
	width: 170px;
    padding-left: 3%;
}

.sr-report-review-span{
	line-height: 25px;
    margin-left: 5px;
    color: #9a9a9a;
    line-height: 300%;
}

.sr-wc-btn-col {
    margin-left: 15%;
}

.sr-wc-btn-col-zillow {
	    margin-left: 40%;
}

.sr-wc-sub-send-btn {
	text-align: center;
    border-radius: 3px;
    color: #fff;
    background: #009FE0;
    cursor: pointer;
    float: right;
    padding: 0px 8px;
    line-height: 300%;
}

.sr-prof-report-abuse-txt {
	margin: 10px auto;
}

/*Styles for first time login popup*/
.overlay-login {
	padding-bottom: 225px;
}

.welcome-popup-wrapper {
    position: relative;
    top: 75px;
    width: 900px;
    margin: 0 auto 20px;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    padding: 10px 30px 15px 30px;
}

.zillow-popup-wrapper {
	padding: 10px 30px 0 30px !important;
}

a.zillow-link {
	text-decoration: none !important;
	cursor: pointer;
	max-width: 150px;
	width: 100%;
	margin: 0 auto;
	border-radius: 3px;
	color: #696969;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
}

a.zillow-link:hover {
	text-decoration: underline !important;
}

a.zillow-profile-link:hover {
	text-decoration: underline !important;
}

a.zillow-profile-link {
    padding-left: 194px !important;
}

.welcome-popup-hdr-wrapper {
    height: 45px;
    line-height: 45px;
}

.wc-hdr-txt {
    font-family: 'opensanssemibold';
    font-size: 18px;
}

.wc-hdr-step {
    font-family: 'opensanslight';
}

.welcome-popup-body-wrapper {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}

.wc-step3-body-cont{
	padding-top: 20px;
}

.wc-popup-body-hdr {
	padding: 23px 0;
	padding-left: 15px;
	font-size: 16px;
	background: #F9F9FB;
}

.linkedin-img {
    height: 125px;
    width: 100%;
    background: url(../images/LInkedin.png) no-repeat center;
}

.wc-connect-txt {
    text-align: center;
    font-size: 14px;
}

.wc-connect-link {
	margin-bottom: 20px;
	font-family: 'opensanssemibold';
}

.wl-import-btn {
    background: #009FE0;
    color: #fff;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 30px auto;
    border-radius: 3px;
    cursor: pointer;
}

.wc-popup-body-cont {
	padding: 20px;
    padding-bottom: 30px;
}
.wc-dashboard-text{
	line-height: 3;
    margin-left: 3px;
}
.wc-width{
	padding-right: 40px;
}

#wc-dashboard-popup{
	height: 28px;
}
.wc-dash-btn{
	width:300px;
	margin-left: 14%;
}

.wc-review-table {
	padding: 15px;
}

.wc-review-table-cont{
	max-height: 300px;
	position: relative;
	padding: 20px 0px;
}

span.txt-highlight {
    font-size: 14px;
    color: #3E9DCB;
    cursor: pointer;
}

.wc-social-icn{
	width: 200px;
	height: 30px;
	cursor: pointer;
}

.wc-icn-txt{
	padding-left: 10px;
	color: #3E9DCB;
	font-size: 14px;
}

.wc-social-icn-row {
	padding-left: 90px;
	margin: 10px 0;
}

.wc-btn-row {
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
    padding: 0 10px;
}

.wc-btn-col {
    width: 50%;
    padding: 0 15px;
}

.wc-sub-btn {
    width: 140px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    background: #009FE0;
    cursor: pointer;
}

.wc-sub-send-btn {
    width: 140px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    background: #009FE0;
    cursor: pointer;
    margin-left: 15px;
}

.wl-import-btn:hover, .wc-sub-btn:hover{
    background: #7AB400;
}

.wc-skip-btn{
	cursor: pointer;
	font-size: 16px;
}

.wc-review-tr {
	padding:10px 0;
    line-height: 20px;
    margin: 0 0 10px 0;
}

.wc-review-hdr{
	margin: 0;
}

.wc-review-tr>div {
    padding: 0 5px;
}

.wc-review-hdr>div{
	padding-left: 20px;
	font-family: 'opensanssemibold';
	font-size: 16px;
}

.wc-review-th1,.wc-review-tc1 {
    width: 30%;
}

.wc-review-th2,.wc-review-tc2 {
    width: 30%;
}

.wc-review-th3,.wc-review-tc3 {
    width: 30%;
}

.wc-review-th4,.wc-review-tc4 {
    width: 10%;
}

.wc-admin-table .wc-review-th1,.wc-admin-table  .wc-review-tc1{
	width: 22.5%;
}

.wc-admin-table .wc-review-th2,.wc-admin-table  .wc-review-tc2{
	width: 22.5%;
}

.wc-admin-table .wc-review-th3,.wc-admin-table  .wc-review-tc3{
	width: 22.5%;
}

.wc-admin-table .wc-review-th4,.wc-admin-table  .wc-review-tc4{
	width: 22.5%;
}

.wc-admin-table .wc-review-th5,.wc-admin-table  .wc-review-tc5{
	width: 10%;
}

.wc-review-input{
	width: 100%;
	height: 40px;
	background: #FCFCFC;
	border: 1px solid #dcdcdc;
	border-radius:3px;
	padding: 0 0 0 15px;
}

.wc-review-table{
	padding: 0 15px;
}

.wc-review-rmv-icn{
	width:100%;
	height:40px;
	background: url(../images/close_srv.png) no-repeat center;
	cursor: pointer;
	background-size: contain;
}

.wc-form-txt {
	line-height: 40px !important;
	height: 40px;
	margin-right: 30px;
	text-align: right;
	width: 120px;
	font-size: 14px;
}

.wc-form-input-cont {
	position: relative;
}

.wc-form-input {
	width: 275px;
	height: 40px;
	padding: 0 10px;
	border-radius: 3px;
	outline: none;
	box-shadow: none;
	border: 1px solid #dcdcdc;
	margin-right: 30px;
	font-size: 12px;
}

.wc-form-row {
	margin-bottom: 15px;
}

.wc-step2-body-row-hdr {
    margin-bottom: 10px;
    line-height: 40px;
    font-family: 'opensanssemibold';
    font-size: 16px;
}

.wc-step2-body-row {
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
}

.wc-step2-body-row:last-child {
	margin: 0;
	padding: 0;
	border: none;
}

.wc-prof-input-cont{
	margin-bottom: 10px;
}

textarea.wc-about-prof-txt {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}

.wc-div-txt {
	width: 20%;
	text-align: center;
	height: 150px;
	line-height: 150px;
	font-size: 15px;
}

.wc-edit-photo-cont-col {
    width: 40%;
}

.wc-linkedin-photo {
    width: 150px;
    height: 150px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}

.wc-photo-upload {
    width: 150px;
    height: 150px;
    border: 1px dashed #dcdcdc;
    /* background: #F9F9FB; */
}

.wc-linkedin-photo-txt {
    font-size: 11px;
    color: #c0c0c0;
}

span.wc-highlight {
    color: #3E9DCB;
    font-family: 'opensanssemibold';
}

.wc-submit-btn {
    height: 40px;
    line-height: 40px;
    margin: 10px 0 0 0px;
    padding: 0 30px;
    text-align: center;
    background: #3E9DCB;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.wc-submit-btn:hover {
	background: #7AB400;
}

.wc-prof-hdr {
    line-height: 40px;
    font-size: 15px;
}

.linkedin-import-hdr{
	margin-right:20px;
	background: url(../images/LInkedin.png) no-repeat center;
	background-color: transparent;
}

.footer-ul span{
	padding: 0 2px;
}

.reg-prof-url {
  line-height: 40px;
  cursor: pointer;
  color: rgb(0, 159, 224);
  border: none;
}

.ctnt-item-comment {
    max-height: 36px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;    
    -webkit-line-clamp: 2;    -webkit-box-orient: vertical;
}

/* .reg-captcha-wrapper.reg-item .g-recaptcha>div div:first-child{
	width: 100% !important;
}

.reg-captcha-wrapper.reg-item .g-recaptcha iframe{
	width: 100% !important;
} */

 
 .inv-succ-text1 {
    color: #48AE5E;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'opensanssemibold';
}

.inv-succ-text2 {
    margin-bottom: 30px;
    color: #009EE3;
    font-size: 18px;
    font-family: 'opensanssemibold';
}

.inv-succ-email {
    margin-bottom: 30px;
    padding: 5px 0;
    color:#000;
    border-bottom: 3px dotted #dcdcdc;
}

.inv-succ-text3 {
    margin-bottom: 40px;
    font-size: 18px;
    color: #000;
    text-align: center;
}

.inv-succ-link {
	text-align: center;
    color: #009EE3;
    cursor: pointer;
}

.sq-i-check-txt {
    width: 304px;
    text-align: left;
    padding-top: 12px;
}

.sq-checkbox{
	margin-right: 0 !important;
}

.change-survey-btn {
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 15px auto;
    text-align: center;
    background: #009FE0;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-style: normal;
}

.privacy-policy-link {
    color: #009FE0;
    text-align: center;
    cursor: pointer;
}

.privacy-policy-disclaimer {
    color: #3e3e3e;
	text-align: center;
}

.take-sur-link {
	margin: 0px 0px 0px 80px;
}

.icn-report {
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.report-resend-icn-container {
    /* margin: 3px -5px 0; */
}

.report-txt {
    display: inline;
    margin: 0px 5px;
    cursor: pointer;
}

.payment-hdr-block {
	text-align: center;
}

.payment-hdr-txt2 {
	color: #999;
}

table.payment-pricing th strong {
	color: #333;
	font-size: 34px;
	line-height: 46px;
}

.payment-acc-type-txt {
	font-size: 15px;
	color: #009fe0;
	line-height: 0;
	text-transform: uppercase;
    font-family: 'opensansbold';
}

table.payment-pricing {
	width: 100%;
	min-width: 471px;
	margin-bottom: 70px;
	margin-top: 4px;
}

.payment-table {
    overflow-x: auto;
    overflow-y: hidden;
}

table.payment-pricing th {
	padding: 10px 0 21px;
	color: #999;
	font: 300 1.154em/3em 'Open Sans', Helvetca, Arial, sans-serif;
	text-align: center;
}

table.payment-pricing td {
	font-size: 14px;
	line-height: 22px;
	color: #444;
	text-align: center;
	width: 20%;
	padding: 14px 0;
}

table.payment-pricing td:first-child {
	color: #999;
	text-align: left;
}

table.payment-pricing td:nth-child(2n+2) {
	background: #f4f4f4;
}

.payment-pricing tr {
    border-bottom: 1px solid #E0E0E0;
}

.payment-acc-hdr-row {
	border-bottom: none !important;
}

.payment-button {
	display: inline-block;
	padding: 0 25px;
	font-size: 14px;
	font-weight: 400;
	background: #70c14a;
	color: #fff;
	height: 34px !important;
	padding: 0 31px;
	text-transform: none !important;
	line-height: 34px;
	box-shadow: none;
	cursor: pointer;
}

.payment-button-disabled {
	background-color: rgb(144, 130, 130);
	cursor: auto;
}

.payment-container {
	background:#FAFAFA; 
}

.payment-icn {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.payment-tick-icn{
	background: url(../images/p-tick.png) no-repeat center;
}

.payment-close-icn{
	background: url(../images/p-cross.png) no-repeat center;
}

footer.login-footer {
	background: #333;
	margin-top: 20px;
}

footer.login-footer h3 {
	font-weight: bold;
	color: #aaa;
	font-size: 14px;
	letter-spacing: 0.015em;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.login-footer-container {
	padding-top: 25px;
}

footer.login-footer * {
  color: #999;
}

footer.login-footer ul.menu {
    list-style: none;
    padding: 0;
}

footer.login-footer li {
	margin: 0 0 6px;
	line-height: 18px;
	letter-spacing: 0.005em;
	overflow: hidden;
}

footer.login-footer a {
    color: #ccc;
}

footer .bottom {
	padding: 0 0 30px 0;
	border-top: 1px solid #575757;
	margin-top: 6px;
}

footer .bottom p {
	margin: 13px 0 1em;
	font-size: 11px;
	letter-spacing: 0.005em;
	line-height: 16px;
}
a.payment-button:hover, a.payment-button:visited {
	color: #fff;
}

span.footer-ul a {
    color: #000;
}

span.footer-ul a:hover {
    text-decoration:underline !important;
}

.icn-sur-popup-cont{
	padding: 20px;
}

.disable-click{
	pointer-events: none;
}


.enable-click{
	pointer-events:auto;
}

.dd-tl {
	font-size: 12px;
	line-height: 15px;
	padding: 3px 5px;
	border-bottom: 1px solid #dcdcdc;
	color: #fff;
	background-color: #A9A9A9;
}
.profileForm{
	width: 45%;
	margin-left: -4%;
}
.popupUrl{
		width:438px;
}

.popupUrl-zillow{
	width:65% !important;
}

.popup-header {
	padding-bottom: 9px !important; 
	font-size: 15px !important; 
	font-weight: bold !important;
}

.popup-padding-bottom {
	padding-bottom: 15px !important; 
}

.popup-padding-top {
	padding-top: 35px !important; 
}

.urlPopupButton{
	width: 335px;
	margin-left: 60px;
}

.popup-body {
	padding: 25px 25px 25px 25px !important;
	padding-left: 15px !important;		
	background: #F9F9FB !important;
}

/*changes for help page*/
.help {
	width: 800px;
	margin: 0 auto;
	max-width: 100%;
}

/*anchor tag for home page*/
.anchor-home {
	font-size: 20px;
	color: #2a6496;
}
.verify-image{
	height: 25px;
    width: 80px;
}
.verify-image-zillow{
	height: 20px;
    width: 65px;
}
.verify-image-ss{
	height: 20px;
    width: 97px;
}
.vendasta-container {
    position: inherit;
    height: 600px;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.access-cont {
    margin: 20% 0px 0px 0px;
    font-size: 24px;
    font-family: 'opensanssemibold';
    text-align: center;
}

.vendasta-setting-access-cont {
	margin: 20% 0px 20% 0px;
    font-size: 24px;
    font-family: 'opensanssemibold';
    text-align: center;
}

.hdr-container{
	padding-left:0 !important;
	padding-right:0 !important;
}

.last-run-info {
	margin-bottom: 20px;
    margin-left: 40px;
    text-align: left;
    line-height: 20px !important;
    margin-right: 30px;
    font-size: 14px;
    margin-top: 20px;
}

.uploaded-file-info {
	text-align: center;
	line-height: 20px !important;
	font-size: 14px;
}

.hierarchy-upload-add-stat  {
	background-color: mediumseagreen;
    color: white;
    width: 15%;
    margin: 5px;
    border-radius: 3px;
    padding-left: 5px;
    min-width: 100px;
}

.hierarchy-upload-modify-stat  {
	background-color: cornflowerblue;
    color: white;
    width: 15%;
    margin: 5px;
    border-radius: 3px;
    padding-left: 5px;
    min-width: 100px;
}

.hierarchy-upload-delete-stat  {
	background-color: palevioletred;
    color: white;
    width: 15%;
    margin: 5px;
    border-radius: 3px;
    padding-left: 5px;
    min-width: 100px;
}

.comp-mail-thrs-txt {
	margin-bottom: 20px;
	display: flex;
	font-family: opensanslight;
	font-weight: bold !important;
	justify-content: flex-start;
	padding-top: 16px;
	height: 50px;
	line-height: 16px;
	flex-direction: column;
	text-align: left;
	margin-right: 15px;
}

/*gmb popup styles */

.dismiss-gmb-popup{
	float: right; 
	color: white; 
	opacity: 1; 
	margin-right: 10px; 
	margin-top: 5px; 
	font-size: x-large;
}

.overlay-gmb-popop{
	position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    min-height: 480px;
    padding-bottom: 100px;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.52));
}
.gmb-popup-wrapper{
	position: relative;
    top: 30px;
    width: 700px;
    margin: 0 auto 20px;
    background: #fff;
    border-radius: 8px;
}

.gmb-popup-hdr-wrapper{
	height: 105px;
    padding-left: 50px;
    background: #f2f2f2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.gmb-popup-body-wrapper{
	display:grid;
	padding:20px 30px;
}

.gmb-wc-btn-row{
	height: 70px;
    background: #f2f2f2;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    line-height: 40px;
    padding: 15px 10px;
    display: flex;
}

.gmb-wc-sub-send-btn {
    width: 140px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    background: #009FE0;
    cursor: pointer;
    margin: 0 auto;
}

.gmb-dash-sub-head {
    line-height: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    padding-left: 10px;
    font-weight: bold !important;
}
.gmb-span{
    font-weight: bold !important;
    margin-right: 5px;
}

.gmb-radio{
	margin-bottom: 20px;
}

.gmb-inline-flex{
	display:inline-flex;
}

.gmb-grid{
	display: grid;
}

.gmb-address-span{
	width: 62px;
}

.zero-sug-gmb{
	margin-bottom:20px;
	margin-left:25px;
}

.place-id-selector-gmb{
	margin-left:30px;
}

.overflow-hidden-important {
	overflow: hidden !important;
}

.agent-prof-image{
	border-radius: 50%;
    background: #f9f9fb;
    width: 50px;
	background-size: contain !important;
}

.invalid-message-div {
	text-align: center;
    padding: 10%;
    font-size: x-large;
    font-size: -webkit-x-large;
}

.permalink {
    margin: 0%;
    padding: 0%;
    width: 25px;
    height: 25px;
    margin-left: -3px;
}

.survey-csv-template {
    text-align: center;
    width: 150px;
    margin: 0.5% auto;
    background-color: #009FE0;
    color: #fff;
    padding: 0.1% 0%;
    border-radius: 3px;
    margin-top: 7%;
}

.dig-recp {
    padding: 5px;
    width: 230px;
    float: left;
    margin-bottom: 10px;
    overflow:auto;
    margin-top: -20px;
}

.hierarchy-stats-anim {
	-webkit-transition: width 350ms;
    -webkit-transition-timing-function: ease;
    transition:width 350ms;
    transition-timing-function: ease;
   	-ms-transition: width 350ms;
    -ms-transition-timing-function: ease;
}

.hierarchy-stats-transform {
	width: 220px;
}

.rep-prof-pic-overlay {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height:0;
  background: rgba(255, 255, 255, 0.9);
}

.rep-prof-pic-edit-icon {
	position: absolute;
  	top: 50%;
  	left: 33%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
    cursor:pointer;
}

.rep-prof-pic-del-icon {
	position: absolute;
  	top: 50%;
  	left: 65%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
    cursor:pointer;
}

.rep-prof-pic-circle:hover .rep-prof-pic-overlay {
  bottom: 0;
  height: 100%;
}

.review-abusive-share-parent{
	display: flex;
    align-items: flex-start;
}

.review-abusive-share-btn{
	margin:10px auto;
}

.abuse-text-window {
	text-overflow: ellipsis;
	overflow-x: hidden; 
}
.overflow-y-scroll {
		overflow-y: auto;
		max-height: 150px;
	}

.widget-cp-cont {
    background-color: white !important;
    border: 1px lightgray solid !important;
    border-radius: 3px !important;
}

.widget-rp-cp-cont {
	background-color: white !important;
    border: 1px lightgray solid !important;
    border-radius: 3px !important;
}

.widget-conf-cont {
	padding: 5% 0%;
    width: 75%;
    margin: 0 auto;
}

.widget-conf-txt {
    font-family: openSans;
    font-size: 16px;
    padding: 2% 0%;
}

.widget-code-ar {
	clear: both;
    padding: 5% 0%;
}

.color-picker-adj {
	height: 30px;
    padding: 4% 0%;
} 


.widget-select-bx {
	 width: 160px;
	 height: 28px;
	 text-align: left;
} 

.widget-btn-sel-al {
	max-width: 25% !important;
    line-height: 25px;
    margin: 2% 0%;
}

.wid-chk-adj {
	height: 34px;
}

.wid-sel-bxl-num {
	width: 45px;
}

.widget-link-bx {
    background-color: #f7f7f9;
    font-family: monospace;
    width: 100%;
}

.widget-text-bx {
    background-color: #f7f7f9;
    font-family: monospace;
    width: 100%;
    height: 120px;
    overflow-y: scroll;
}

.widget-hist-adj {
	width: 320px;
	height: fit-content;
    text-align: center;
    line-height: unset;
}

.widget-commit-bx {
	width:425px;
}

.widget-error {
	text-align: center;
	color: red;
}

.widget-hist-opt-message {
	padding-top: 4%;
	font-weight: bold !important
}

.widget-rld-cur-conf {
	display:  inline;
    padding: 1%;
    margin-left: 1%;
}

.widget-message-error {
	text-align: center;
	color: red;
}

.disable-page-logout {
	color: #fff;
	font-weight : bold !important; 
}

.fb-verified-image{
	background: url(../images/facebook_logo_review.png) no-repeat;
	cursor: pointer;
	background-size: contain;
}

.verify-image-fb{
	height: 25px;
    width: 80px;
}