.clearfix:after,.clearfix:before {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.formModalContainer {
	width: 380px;
	margin: 0 auto;
	border-radius: 3px;
}

#formHeaderBar {
	height: 92px;
	background: url(../images/logo.png) no-repeat center;
	background-color: #fff;
	position: relative;
}

.formBodyMainText {
	line-height: 60px;
	font-size: 22px;
	text-align: center;
	text-transform: capitalize;
}

.formButton {
	width: 100%;
	background-color: #5CC8EF;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 10px;
}

.formInput {
	padding-left: 50px;
}

.registerStep1Wrapper {
	background: #fff;
}

.captchaContainer {
	padding-left: 0;
}

.overlay {
	padding-top: 0.1px;
	background: url('../images/bg.jpg') no-repeat;
	background-size: cover;
}

.formModalFooter {
	overflow: hidden;
	line-height: 70px;
	color: #999;
	height: 60px;
	font-size: 14px;
}

.formModalFooterContent {
	color: #fff;
}

.formPageFooter {
	font-size: 12px;
	text-align: center;
	bottom: 0;
	width: 100%;
	line-height: 18px;
	height: 40px;
	overflow: hidden;
	color: #fff;
}

.loginLink {
	color: #fff;
	text-decoration: none;
}

.formInputField {
	height: 48px;
	margin: 0 auto 5px;
}

.formWrapper {
	border-radius: 4px;
	overflow: hidden;
	background-color: #fff;
}

.overlay .formContainer {
	padding: 25px;
}

.overlay {
	padding: 20px;
}

#messageHeader {
	background: #fff;
	color: #777;
	border-radius: 3px;
}

.accountTypeBox {
	float: left
}

.hierarchySettingsWrapper {
	width: 800px;
	margin: 0 auto;
}

.hierarchySettingsModalContainer {
	background: #FCFCFC;
	border-radius: 3px;
	padding: 20px;
	border:1px #BBC0C6 solid;
}

.leftContainer {
	width: 75%;
}

.form-Button {
	background-color: #77B001;
	width: 100px;
	line-height: 27px;
	text-align: center;
}

.formFooter {
	margin: 0 auto;
	width: 220px;
	color: #E5F0D0;
}

.form-group{
	color:#777;
}
.footer-copyright {
    color: #fcfcfc;
    font-size: 12px;
    margin-bottom: 20px;
}

.login-footer-txt {
    color: #fff;
}

.login-logo {
    height: 62px;
    width: 100%;
}

.login-main-wrapper {
    height: 100% !important;
    background: url('../images/bg.jpg') no-repeat;
	background-size: cover;
}

.invitation-min-height {
    min-height: 750px;
}

.login-wrapper-min-height {
    min-height: 730px;
}

.registration-wrapper-min-height {
    min-height: 980px;
}

.error-msg {
    margin-top: -35px;
    line-height: 24px;
    padding: 0 50px;
    margin-bottom: 20px;
}

.forgot-pwd-mobile a{
    color: #fff;
}
.input-icon-internal {
    height: 36px;
    width: 36px;
    margin: 1px 1px 0 0;
    border-radius: 2px;
    position: relative;
    background: url(../images/btn.png) no-repeat center;
}

.input-file-company {
    overflow: hidden;
}

.input-file-icn-left {
    z-index: 99999;
    position: relative;
    background-color: #fff !important;
}

.input-file-text {
    position: absolute;
    left: -48px;
    outline: none;
    height: auto !important;
    top: 14px;
    width: 411px !important;
}

.hm-content-right {
    border-left: 1px solid #dcdcdc;
}

.hm-left-item {
    padding: 0 45px 0 0;
}

.file-main {
    position: relative;
    top: -97px;
    opacity: 0;
}

.file-pick-logo {
    top: -50px;
}

.hm-main-content-wrapper {
    position: relative;
    z-index: 9;
}

.registration-wrapper-min-height .login-row {
    margin-top: 80px;
}

.header-slider-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    z-index: 999999999;
    top: 0;
}

.rt-panel-slide{
     transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

.header-links-slider {
    display: block !important;
    float: none !important;
    top: 0 !important;
    box-shadow: none !important;
}

.st-score-txt {
    height: 110px;
    line-height: 26px;
    width: 50%;
    border-right: 1px solid #dcdcdc;
}
.wd-score-txt{
	 height: 110px;
    line-height: 26px;
    width: 50%;
}

.icn-spanner {
    background: url(../images/spanner.png) no-repeat center;
}

.icn-blue-tick {
    background: url(../images/blue-tick.png) no-repeat center;
}

.icn-full-star {
    background: url(../images/full-star.png) no-repeat center;
}

.icn-half-star {
    background: url(../images/half-star.png) no-repeat center;
}

.icn-no-star {
    background: url(../images/no-star.png) no-repeat center;
}

.icn-pen {
    background: url(../images/pen.png) no-repeat center;
}

.st-checkbox-on {
    background: url(../images/check-yes.png) no-repeat center;
}

.st-checkbox-off {
    background: url(../images/check-no.png) no-repeat center;
}

.lp-con-icn {
    height: 32px;
    width: 26px;
    margin: 0 15px 0 5px;
}

.update-card-details-txt{
    display: block;
    width: 100% !important;
    min-width: 100px !important;
    margin-bottom: 10px;
    height: 40px;
    padding: 0 10px;
}
.card-det-adj{
    margin-bottom: 30px;
}
.card-err-txt{
    line-height: 24px;
    padding-left: 10px;
    font-size: 12px;
    color: #DE3838;
    margin-bottom: 10px;
}

.st-widget-txt {
    line-height: 26px;
    width: 100%;
}
/* ============== new registration style==============*/

.reg-left-container{
    position: relative;
    min-height: 750px;
    display: table-cell;
    vertical-align: top;
    overflow: hidden!important;
    background-color: #fff;
    color: #434245;
    width: 50%;
    width: 486px;
    float: left;
    z-index: 1;
    overflow-y: auto;
    word-wrap: break-word;
    height:100%;
}
.reg-ss-logo{
	width:210px;
	height:35px;
	margin:20px 0 20 20px;
	
}
.reg-right-container{
	background-color:#326AAD;
	height:100%;
    width: 100%;
    display: table-cell;
    vertical-align: top;
    overflow: hidden!important;
    position:fixed;
}

.reg-create-account{
	font-size: 35px;
    margin-top: 10px;
}

.reg-name{
	width:98%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    padding: 0 10px;
    min-width: 110px;
}
.reg-comp-add{
    height: 40px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    padding: 0 10px;
}

.reg-details{
	width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    padding: 0 10px;
    min-width: 180px;
}
.reg-pswd-info{
	font-size: 14px;
    font-weight: 600 !important;
    color: #B7B7B7;
    margin: 10px 0 20px 0;
}
.reg-pln-btn{
	background-color: #C4C4C4;
    height: 50px;
    line-height: 42px;
    width: 120px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 15px;
    font-family: 'opensanssemibold';
    cursor: pointer;
}
.reg-req-field{
	font-size: 14px;
    font-weight: 600 !important;
    margin: 10px 0;
}
.reg-linkedin-border{
	border: 1px solid #D7D7D7;
    border-radius: 5px;
}
.reg-auth-linkedin-btn{
	background-color:#326AAD;
    height: 40px;
    line-height: 35px;
    width: 225px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 15px;
    font-family: 'opensanssemibold';
    cursor: pointer;
    margin:auto;
}
.reg-auth-linkedin-wrapper{
	width: 100%;
    padding: 15px;
}
.reg-linkedin-imp{
	font-size: 18px;
    font-weight: 800 !important;
}
.reg-linkedin-imp-info{
	font-size: 16px;
    margin: 10px 0;
}
.reg-or-line{border-bottom: 1px solid #C4C4C4;
    width: 45%;
    padding: 15px 0;
}
.reg-or{
	padding: 20px 0;
    width: 10%;
    text-align: center;
    color: #C4C4C4;
}
.reg-linkedin-manual{
	text-align: center;
    color: #C4C4C4;
}
.reg-quick-setup{
    font-size: 30px;
    margin-top: 40px;
    float: none;
    margin-bottom: 20px;
    padding: 0;
}
.reg-next{
    height: 45px;
    line-height: 45px;
    width: 115px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'opensanssemibold';
    cursor: pointer;
        border: none;
    
}
.regen{
	background-color: #326AAD !important;
}

.step-tab{
	background:url('../images/step-1.png') no-repeat;
	height:25px;
}
#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
}
.reg-side-image{
	background:url(../images/sidebar-survey.png)center no-repeat;
	width: 280px;
    height: 450px;
    margin: auto;
    margin-top: 35px;
    background-size: contain;
}
.reg-right-description{
	color:#fff;
	font-size: 22px;
    opacity: 0.6;
    font-family: 'OpenSans';
    margin: auto;
    
}
.reg-right-description-profile{
	color:#fff;
	font-size: 24px;
    opacity: 0.6;
    font-family: 'OpenSans';
    margin: auto;
    
}
.reg-right-description-linkedin{
	color:#fff;
	font-size: 35px;
    opacity: 0.6;
    font-family: 'OpenSans';
    margin: auto;
    
}
.reg-right-description-pay{
	color:#fff;
	font-size: 14px;
    opacity: 0.6;
    font-family: 'OpenSans';
    margin: auto;
    
}
.reg-right-description-pay-header{
	color:#fff;
	font-size: 20px;
    opacity: 0.8;
    font-family: 'OpenSans';
    margin: auto;
    
}


.reg-side-linkedin-img{
	background:url(../images/sidebar-import-profile.png)center no-repeat;
	width: 400px;
    height: 200px;
    margin: 25px auto;
    background-size: contain;
}
.reg-side-welcome-img{
	background:url(../images/sidebar-welcome.png)center no-repeat;
	width: 303px;
    height: 372px;
    margin: auto;
}
.welcome-email{
	background:url(../images/mail-icon.png)center no-repeat;
	width: 50px;
    height: 50px;
    margin: auto;
}
.reg-import-linedin{
	color: #fff;
    font-size: 25px;
    width: 270px;
    margin: 0 auto 20px;
    opacity: 0.6;
}
.reg-prof-img{
	background:url(../images/sidebar-public-profile.png)center no-repeat;
	width: 700px;
    height: 370px;
    margin: auto;
    margin-top: 45px;
    background-size: contain;
}
.reg-company-img{
	background:url(../images/sidebar-company-details.png)center no-repeat;
	width: 700px;
    height: 370px;
    margin: auto;
    margin-top: 45px;
    background-size: contain;
}
.reg-prof-img-detail{
	background:url(../images/sidebar-professional-details.png)center no-repeat;
	width: 700px;
    height: 370px;
    margin: auto;
    margin-top: 45px;
    background-size: contain;
}
.prof-line{
	text-align:center;
    
}
.reg-back{
	color:#dcdcdc;
	float:left;
	cursor: pointer;
}
.reg-error{
    height: 33px;
    margin-top: 20px;
}
.reg-right-center,.reg-right-center-linkedin,.reg-right-center-profile{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.reg-right-center{
	width:450px;
}
.reg-right-center-linkedin{
    width:500px;
}
.reg-right-center-profile{
	width:700px;
}

.reg-payment-container{
	border: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    border-radius: 5px;
    height: 300px;
    margin: 30px auto;
}

.reg-pay-wrap{
	width: 380px; 
	margin: auto;
}
.plan-card {
    position: relative;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 1px rgba(0,0,0,.2);
    padding: 20px 0 15px 0;
    width: 200px;
    margin: 0 10px;
    height: 300px;
}

.price-info {
    font-size: 8rem;
    position: relative;
    display: block;
    font-weight: 900 !important;
    margin-bottom: .5rem;
    letter-spacing: -2px;
    margin-left: -2.5rem;
    font-family: 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
    height:80px;
}

.price-info-sub {
    display: block;
    font-size: 13px;
    line-height: 1.5rem;
    padding: 5px 20px;
    height: 30px;
    opacity: .8;
}

.price-info .dollar {
    position: relative;
    top: -2.75rem;
    font-weight: 400 !important;
    font-size: 5rem;
    letter-spacing: 0;
}
.price-info .cents {
    position: absolute;
    top: 4.25rem;
    font-size: 1.75rem;
    margin-left: 0.3rem !important;
    letter-spacing: -1px;
    font-weight: 700 !important;
}

.pay-button {
    font-weight: 600 !important;
}
.reg-upgrade{
	background-color: #326AAD;
    height: 30px;
    line-height: 30px;
    width: 70px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 10px;
    font-family: 'opensanssemibold';
    cursor: pointer;
    border: none;
    margin-top:140px;
}

.plan-discription {
    font-size: 18px;
    font-weight: 600! important;
    border-bottom: 1px solid;
    padding: 10px 0 10px 10px;
    color: #fff;
    opacity:.8;
}
.plan-discription-sub {
    font-weight: 400!important;
    opacity: 0.6!important;
    color: #fff;
}
.reg-Individual{
font-size: 40px;
    width: 180px;
    margin: auto;
    color: #fff;
    opacity: .8;
 }
.reg-indiv-detail{
    font-size: 25px;
    width: 137px;
    margin: auto;
    color: #fff;
    opacity: .6;
} 
.call-us{
	font-size: 25px;
    padding: 39px 0px;
    display: block;
}
.contact-number{
	padding: 20px 0;
    font-size: 16px;
    font-weight: 600 !important;
}
.reg-welcome{
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	    margin-top: 40px;
}
.reg-congrats{
	    font-size: 18px;
    font-weight: 600 !important;
}
.reg-check-mail{
	width: 70%;
    margin: 15px;
    font-size: 18px;
    font-weight: 600 !important;
}
.main-reg-wrapper{
	display: table;
    overflow: scroll;
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.reg-li{
	opacity: 0.6!important;
    color: #fff;
    margin-top:10px;
}
.reg-li>ul>li{
	padding:2px;
}
.payment-right-description{
	margin:auto;
}
.reg-right-description-payment{
	width:100%;
	margin:auto;
}
.reg-password-header{
	padding: 0 15px;
    font-size: 16px;
    color: #C4C4C4;
    margin-bottom: 20px;
}
.reg-password-instruction{
	padding: 0 15px;
    font-size: 13px;
    color: #C4C4C4;
}
.has-error-reg .form-control-reg ,.error-survey{
    border-color: #FFA940 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    background-color: #FFF1E1 !important;
}
.validation{
	color:#FFA940 !important;
}

.has-error-reg .form-control-reg:focus {
    border-color: #FFA940;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-color: #FFF1E1;
}
.form-control-reg:focus{
	border-color: #66afe9;
    outline: 0; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); 
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); 
}
.help-block-reg {
    display: block;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #FFA940;
}
.payment-right-center{
	width:400px !important;
}

/* progress bar */
.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: #777;
  cursor: default;
  margin: 0 1px 0 0;
  padding: 5px 0px;
  width: 33%;
  float: left;
  position: relative;
  background-color: #ddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow-steps .step a {
  color: #777;
  text-decoration: none;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 17px solid #ddd;
  z-index: 2;
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:last-child:after {
  border: none;
}

.arrow-steps .step span {
  position: relative;
}

*.arrow-steps .step.done span:before {
  opacity: 1;
  position: absolute;
  top: -2px;
  left: -10px;
  font-size: 11px;
  line-height: 21px;
}

.arrow-steps .step.current {
  color: #fff;
  background-color: #5599e5;
}

.arrow-steps .step.current a {
  color: #fff;
  text-decoration: none;
}

.arrow-steps .step.current:after {
  border-left: 17px solid #5599e5;
}

.arrow-steps .step.done {
  color: #fff;
  background-color: #2f69aa;
}

.arrow-steps .step.done a {
  color: #fff;
  text-decoration: none;
}

.arrow-steps .step.done:after {
  border-left: 17px solid #2f69aa;
}
.reg-dow{
	width:80px;
}
.reg-agree{
	font-size: 14px;
}

.reg-1-pg {
    margin-top: 15px;
    width: 421px;
    margin-left: -8px;
}
.reg-company-pg {
    margin-top: 15px;
    width: 477px;
    margin-left: -8px;
}
.reg-company-deatil-ul{
    margin-left:130px;
}
.reg-bold{
	font-weight:600 !important;
}

.display-inline-block{
display: inline-block;
}
    
.stng-padng {
	padding-right: 50px;
}
.customized-settings-wrapper {
    margin-top: 25px;
}

.customized-settings-child {
	display: flex;
    font-family: opensanslight;
    font-weight: bold !important;
    justify-content: flex-start;
    padding-top: 16px;
    height: 50px;
    line-height: 16px;
    flex-direction: column;
    text-align: left;
}

.width-three-five-zero{
	width: 350px;
}

.listing-access-txt {
    margin-bottom: 20px;
    display: flex;
    font-family: opensanslight;
    font-weight: bold !important;
    justify-content: flex-start;
    padding-top: 16px;
    height: 50px;
    line-height: 16px;
    flex-direction: column;
    text-align: left;
}

.margin-top-twenty {
	margin-top: 20px;
}

.margin-bottom-twenty {
	margin-bottom: 20px;
}

.padding-bottom-twenty {
	padding-bottom: 20px;
}

.padding-top-ten {
	padding-top: 10px;
}

.margin-top-hundred {
	margin-top: 100px;
}

mark{
	background: #F6FF57;
	border-radius: 4px;	
}