@font-face{
    font-family:'OpenSans';
    src:url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face{
    font-family:'OpenSansLight';
    src:url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face{
    font-family:'OpenSansSemiBold';
    src:url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}

@font-face{
    font-family:'OpenSansBold';
    src:url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

*{
    font-family: 'OpenSans';
    font-weight: normal;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
}

input,textarea{
    outline: none;
    resize: none !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.box-border-box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.clearfix:after,.clearfix:before {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

a, a:hover, a:visited{
    text-decoration: none !important;
}

.float-left{
    float: left;
}

.float-right {
    float: right;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.margin-0-auto{
    margin: 0 auto;
}


.body-wrapper {
    overflow: hidden;
}

.ss-logo {
    background: url(../images/ss-logo.png) no-repeat center;
}

.header-logo-wrapper {
    height: 80px;
    width: 175px;
    background-color: rgba(0, 159, 224, 0.8);
}

.header-login-wrapper {
    width: 505px;
    height: 80px;
    background-color: rgba(0, 159, 224, 0.8);
}

.h-email-txt {
    
}

.h-email-lbl {
    text-transform: uppercase;
}

.h-lbl {
    margin-bottom: 2px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.h-inp {
    width: 192px;
    height: 33px;
    border: 0;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 10px;
}

.fgt-pwd {
    font-size: 11px;
    text-transform: none;
}

.fgt-pwd a{
    color: #fff !important;
}

.fgt-pwd a:hover{
    color: #fff !important;
}

.h-btn-login {
    width: 80px;
    line-height: 35px;
    cursor: pointer;
    color: #fff;
    background-color: #7fba00;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
}

.hero-txt-wrapper {
    text-transform: capitalize;
    font-size: 30px;
    width: 705px;
    margin: 2px auto;
    padding: 20px;
    text-align: center;
    line-height: 34px;
    text-shadow: 2px 2px 46px rgba(255,255,255,0.5);
}

.txt-header-small{
    font-size: 22px;
}

.index-body {
    background: url(../images/bg-main.png) no-repeat center;
    background-size: cover;
}

.txt-bold {
    font-family: 'OpenSansBold';
}

.h-email-wrapper {
    margin: 10px;
    margin-top: 17px;
}

.h-pwd-wrapper {
    margin: 17px 10px 10px 0;
}

.h-login-btn-wrapper {
    margin: 35px 10px 10px 0;
}

.c-pic-panel {
    margin-right: 15px;
    width: 715px;
}

.c-pic-top-1 {
    position: relative;
    width: 535px;
    height: 180px;
/*    background-color: rgba(0, 159, 224, 0.8);*/
    color: #fff;
    margin-right: 5px;
    padding: 15px;
}

.c-pic-top-2 {
    background: url(../images/home5.jpg) no-repeat center;
    background-size: cover;
}

.c-pic-img {
    position: relative;
    width: 175px;
    height: 180px;
    background-color: #000;
}

.c-pic-bot-2 {
    background: url(../images/home2.jpg) no-repeat center;
    background-size: cover;
    margin-right: 5px;
}

.c-pic-bot-3 {
    background: url(../images/home3.jpg) no-repeat center;
    background-size: cover;
    margin-right: 5px;
}

.c-pic-bot-4 {
    background: url(../images/home4.jpg) no-repeat center;
    background-size: cover;
}

.c-panel-txt-top {
    position: relative;
    z-index: 99;
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: bold !important;
    font-family: opensans;
}

.pic-bot-txt {
    font-size: 12px;
    position: absolute;
    background: rgba(0,0,0,0.3);
    color: #fff;
    bottom: 0;
    width: 100%;
    padding: 0 10px;
    height: 55px;
}

.c-pic-bot-1 {
    background: url(../images/home1.jpg) no-repeat center;
    background-size: cover;
    margin-right: 5px;
}

.c-reg-panel {
    padding: 20px;
    height: 365px;
    background-color: rgba(0, 159, 224, 0.8);
    width: 410px;
    color: #fff;
    position: relative;
}

.c-pic-panel-top {
    margin-bottom: 5px;
}

.reg-inp {
    color: #3e3e3e;
    height: 40px;
    border: 0;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 10px;
}

.reg-inp-1 {
    margin-right: 8px;
    width: 179px;
}

.reg-inp-2 {
    width: 179px;
}

.reg-inp-3 {
    width: 100% !important;
    margin: 0 !important;
}

.reg-item {
    position: relative;
    margin-bottom: 10px;
}

.reg-item:last-child {
    margin-bottom: 0;
}

.reg-captcha-img {
    height: 58px;
    border-bottom: 1px solid #dcdcdc;
    background: #fff;
}

.reg-captcha-wrapper {
    border-radius: 3px;
    overflow: hidden;
}

.reg-cap-img {
    width: 38px;
    height: 36px;
    border-left: 1px solid #dcdcdc;
    background-color: #fff !important;
}

.reg-cap-txt {
    width: 256px;
    height: 36px;
    padding: 0 10px;
    border: 0;
    font-size: 12px;
    color: #3e3e3e;
}

.reg-btn {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #7fba00;
    font-size: 14px;
}

.reg-txt-top1 {
    font-size: 22px;
    margin-top: -14px;
    font-weight: bold;
    letter-spacing: 1px;
}

.reg-txt-top2 {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.pic-bot-txt-top {
    line-height: 22px;
}

.pic-bot-txt-bot {
    margin-top: -3px;
}

.pro-left-wrapper {
    text-align: right;
    font-size: 18px;
    width: 535px;
    line-height: 70px;
    height: 70px;
    background-color: rgba(0, 159, 224, 0.8);
    color: #fff;
    margin-right: 5px;
    padding: 0 25px;
    position: relative;
}

.pro-right-wrapper {
    position: relative;
    width: 600px;
    height: 70px;

    background-color: rgba(0, 159, 224, 0.8);
    color: #fff;
    padding: 15px;
}

.pro-inp {
    color: #3e3e3e;
    display: block;
    float: left;
    width: 192px;
    margin-right: 0;
    height: 40px;
    border: 0;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 10px;
    margin-right: 10px;
    z-index: 99;
    background-color: #fff !important;
    background-position: -50px !important;
    position: relative;
}

.pro-btn {
    margin-right: 0;
    color: #fff !important;
    cursor: pointer;
    background-color: #7fba00 !important;
    font-size: 14px !important;
}

input#find-pro-submit{
    width: 161px;
    margin: 0px 0 10px 5px;
}

.pro-wrapper {
    margin-top: 15px;
}

.reg-cap-reload {
    background: url(../images/refresh.png) no-repeat center;
}

.reg-cap-sound {
    background: url(../images/Audio-and-Text.png) no-repeat;
    background-position: 12px center;
}

.reg-cap-text {
    background-position: -52px center !important;
}

.reg-cap-info {
    background: url(../images/info.png) no-repeat center;
}

.footer-container {
    font-size: 12px;
    text-align: center;
    color: #3e3e3e;
    font-family: 'opensanslight';
}

.footer-wrapper {
    margin: 20px 0;
    text-align: center;
    font-size: 12px;
}

.hdr-log-reg-btn {
    font-size: 12px;
    margin-top: 19px;
    padding: 0 25px;
    cursor: pointer;
    height: 28px;
    line-height: 28px;
}

.hdr-btns-wrapper {
    color: #fff;
}

.hdr-wrapper {
    height: 60px;
    background-color: #009FE0;
    z-index: 9999999;
    position: relative;
}

.hdr-logo {
    height: 60px;
    width: 180px;
    background: url(../images/ss-logo.png) no-repeat;
    background-size: 65%;
    background-position: left center;
    cursor: pointer;
}

.hdr-reg-btn {
    border: 1px solid #fff;
    border-radius: 3px;
}

.hr-txt {
    font-family: 'opensanssemibold';
    font-size: 18px;
    text-align: center;
    line-height: 70px;
}

.fp-container {
    height: 65px;
    background-color: #009FE0;
    color: #fff;
}

.fp-left-item {
    font-family: 'opensanssemibold';
	font-size: 18px;
	text-align: right;
	line-height: 65px;
	padding-left: 15px;
}

.fp-wrapper {
    height: 65px;
}

.fp-inp {
    color: #3e3e3e;
    display: block;
    float: left;
    width: 200px;
    margin-right: 0;
    height: 32px;
    border: 0;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 10px;
    margin-right: 10px;
}

.srch-name {
   font-size:12px;
}

.ctnt-item-desig {
   font-size:11px;
   font-family: 'opensanssemibold';
}

.srch-num {
    font-weight: bold;
}

.ctnt-list-item {
    padding: 20px;
    height: 108px;
    border-bottom: 1px solid #EEEDE9;
    padding: 15px 20px 20px 20px;
}

.ctnt-review-btn {
    cursor: pointer;
    background-color: #009FE0;
    color: #fff;
    width: 160px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	border-radius: 3px;
	font-size: 14px;
}

.ctnt-item-name {
    color: #009FE0;
}

.fp-right-item{
	margin-left: 40px;
	margin-top: 17px;
}

.fp-row-wrapper{
	margin:0 auto;
	width:890px;
}

.ctnt-list-item-img{
	width : 70px;
	height : 70px;
	margin: auto 15px;
	background: url(../images/Person1.png) no-repeat center;
	border-radius: 3px;
    margin-left: 0;
}
.pro-list-default-img {
	background: url(../images/place-holder-individual.png) no-repeat center;
	background-size: contain;
}

.ctnt-list-item-txt-wrap{
	height: 72px;
	overflow: hidden;
    margin-right: 25px;
}

.ctnt-list-header{
	border-bottom: 1px solid #EEEDE9;
	margin-top: 50px;
    line-height: 30px;
    font-size: 12px;
    padding-right: 10px;
}

.ctnt-list-wrapper{
	margin-bottom: 2px;
    padding-top: 10px;
    font-size: 12px;
    padding-top: 10px;
}

.ctnt-list-item-even{
	background-color: #fafaf9;
}
.blue-ext-left {
    position: absolute;
    width: 1500px;
    height: 180px;
    background-color: rgba(0, 159, 224, 0.8);
    top: 0;
    right: 0;
    z-index: 9;
}

.c-panel-txt-bot {
    position: relative;
    z-index: 99;
    font-size: 13px;
    line-height: 22px;
    width: 428px;
    padding-top: 5px;
}

.blue-ext-right {
    position: absolute;
    width: 1500px;
    /* height: 70px; */
    /* background-color: rgba(0, 159, 224, 0.8); */
    top: 0;
    left: 0;
    /* z-index: 9; */
}

.ctnt-wrapper {
    margin-bottom: 50px;
    margin-top: -15px;
}

.ads-container {
    background: url('../images/temp_ad.png') no-repeat center;
    height: 1000px;
    background-size: 100% auto;
    background-position: center 70px;
}

.fp-txt-1 {
    position: relative;
    /* z-index: 99999; */
}

.m-inp-img-uname {
    background: url(../images/userName.png) no-repeat center;
}

.m-inp-img-pwd {
    background: url(../images/password.png) no-repeat;
    background-position: 10px center;
}

.m-inp-img-fname {
    background: url(../images/first-name.png) no-repeat center;
}

.m-inp-img-lname {
    background: url(../images/last-name.png) no-repeat center;
}

.m-inp-img-email {
    background: url(../images/email.png) no-repeat center;
}

.h-inp-wrapper {
    position: relative;
}

.m-inp-img {
    position: absolute;
    left: 0;
    width: 50px;
    height: 44px;
    top: 0;
    display: none;
    z-index: 999999;
}

.m-inp-img-adj {
    /* top: 44px; */
    left: 48%;
}

.header-row {
    position: relative;
}

.header-search-icn {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/search_white.png) no-repeat center 8px;
    background-color: rgba(0, 159, 224, 0.8);
    background-size: 28px;
    display: none;
}

.pro-wrapper-top {
    margin: 0 !important;
}

.reg-err-pu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
/*
    background-color: #E57C66;
    color: #fff;
*/
    background-color: rgba(255, 255, 255, 0.95);
    color: #E55757;
    text-align: center;
    line-height: 65px;
}

.reg-err-pu-msg{
    font-weight: bold !important;
}

.reg-err-pu-close {
   display: inline-block;
    width: 24px;
    background: url(../images/close-red.png) no-repeat center;
    background-size: 22px;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.95);;
    cursor: pointer;
}

.row.row-dash-top-adj {
/*    margin-bottom: -80px;*/
}

.disclaimer {
    color: #fff;
    font-size: 12px;
    font-family: opensanslight !important;
}