/* ============== SMARTPHONES ==============*/
@media (max-width: 767px) {
    .header-logo-wrapper{
        height: 50px;
        float: none;
        background: url(../images/ss-logo.png) no-repeat center;
        background-size: 90px;
        width: 125px;
    }
    .header-row{
        margin: 0 -15px;
        background-color: rgba(0, 159, 224, 0.8);
    }
    .header-login-wrapper{
        float: none;
        width: 100%;
        overflow: auto;
        height: auto;
        background: #fff;
    }
    .h-email-wrapper, .h-pwd-wrapper, .h-login-btn-wrapper{
        float: none;
        width: 100%;
        margin: 0;
    }
    .h-login-btn-wrapper{
        overflow: auto;
    }
    .h-btn-login-txt{
        display: block;
    }
    .h-lbl{
        line-height: 30px;
        margin-bottom: 0;
        padding: 0 10px;
        display: none;  
    }
    .h-inp{
        width: 100%;
        border-radius: 0;
        border-bottom: 1px solid #dcdcdc;
        height: 44px;
        padding-left: 50px;
    }
    .h-btn-login{
        margin: 0;
        width: 100%;
        background: #7fba00;
        color: #fff;
        text-align: center;
        line-height: 44px;
        height: 44px;
        border-radius: 0;
        font-size: 13px;
    }
    .hero-txt-wrapper{
        width: 100%;
        padding: 10px 0px;
        font-size: 24px;
        display: none;
        margin: 0;
    }
    .txt-header-small{
        font-size: 18px;
    }
    .content-wrapper{
        margin: 0 -15px;
    }
    .c-pic-panel{
        display: none;
    }
    .c-reg-panel{
        width: 100%;
        padding: 0;
        height: auto;
        background: #fff;
        color: #3e3e3e;
    }
    .reg-txt-top1{
        font-size: 18px;
        text-align: center;
        margin-top: 5px;
    }
    .reg-txt-top2{
        text-align: center;
    }
    .reg-inp{
        width: 100% !important;
        border-radius: 0;
        margin: 0;
        border-bottom: 1px solid #dcdcdc;
        padding-left: 50px;
        height: 44px;
    }
    .reg-item{
        margin-bottom: 0;
        overflow: auto;
    }
    reg-item-bord-top{
        border-top: 1px solid #dcdcdc;
    }
    .reg-captcha-wrapper{
        width: 100%;
        border-radius: 0;
    }
    .reg-captcha-btns{
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #dcdcdc;
    }
    .reg-cap-txt{
/*        max-width: 165px;*/
    }
    .reg-btn{
        display: block;
        margin: 10px auto;
        height: 44px;
        font-size: 14px;
        margin: 0;
        border-bottom: 0;
        width: 100%;
    }
    .pro-wrapper{
        margin: 0px -15px;
        overflow: auto;
    }
    .pro-left-wrapper{
        width: 100%;
        line-height: 60px;
        text-align: center;
        font-size: 16px;
        padding: 0;
        margin: 0;
        height: 60px;
        background: #fff;
    }
    .pro-right-wrapper{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        background-color: #fff;
    }
    .pro-inp{
        margin-right: 10px;
        margin: 0 0 15px 0;
        width: 100%;
        border-radius: 0;
        margin-bottom: 0;
        border-bottom: 1px solid #dcdcdc;
        padding-left: 50px;
        height: 44px;
        background-position: 10px center !important;
    }
    .hr-txt {
		font-size: 20px;
		line-height: 70px;
	}
	.hdr-logo {
		height: 60px;
		width: 120px;
		background-size: 108px 36px;
	}
	.hdr-wrapper {
		height: 60px;
	}
	.fp-container {
		padding-right: 0;
		padding-left: 0;
	}
	.hr-txt {
		font-size: 14px;
		line-height: 70px;
	}
	.hdr-log-reg-btn{
		margin-left : 0;
		padding: 0 10px;
        margin-top: 18px;
	}
	.fp-container{
		height: auto;
	}
	.fp-right-item{
		float: none;
		display:block;
		margin-top: -10px;
		margin-left: 0;
	}
	.fp-left-item{
		float: none;
		display:block;
		line-height: 40px;
		text-align: center;
	}
	.fp-inp{
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 0;
	}
	.fp-row-wrapper{
		width:100%;
	}
	.fp-container .row{
		margin-left:0;
		margin-right: 0;
	}
	.fp-wrapper{
		height: auto;
	}
	.ctnt-list-item{
		padding: 10px 0;
        height: auto;
	}
	.ctnt-list-item-img {
		width: 50px;
		height: 50px;
		margin: 0 10px 0 0;
	}
	.ctnt-review-btn{
		width: 100%;
		font-size: 14px;
	}
    .ctnt-list-header-right{
        float: none;
        clear: both;
        line-height: 28px;
    }
    .ctnt-list-item-txt-wrap{
        height: auto;
    }
    .ctnt-item-comment{
        display: none;
    }
    .ctnt-list-item-btn-wrap{
        clear: both;
        margin-top: 10px;
        float: right;
        width: 100%;
    }
    .index-body{
        background: #fff;
    }
    .registration-form-cls{
        margin-bottom: 0;
    }
    .blue-ext-right{
        display: none;
    }
    .fp-txt-1{
        color: #3e3e3e;
        border-bottom: 1px solid #dcdcdc;
    }
    .reg-inp-1-adj{
        border-top: 1px solid #dcdcdc;
    }
    .m-inp-img, .header-search-icn, .pro-left-wrapper-login{
        display: block;
    }
    .disclaimer {
        font-size: 11px;
        padding: 0 10px;
        margin-top: 11px;
        color: #333;
    }
}



/* ============== ANTHING ABOVE SMARTPHONES ==============*/
@media (min-width: 768px) {
}



/* ============== ONLY TABLETS ==============*/
@media (min-width: 768px) and (max-width: 991px) {
    .c-pic-panel {
        margin-right: 0;
        width: 720px;
        margin-bottom: 15px;
    }
    .c-pic-top-1{
        width: 536px;
        margin-right: 7px;
    }
    .c-pic-panel-top {
        margin-bottom: 7px;
    }
    .c-pic-img{
        width: 175px;
    }
    .c-pic-bot-1{
        margin-right: 7px;
    }
    .c-reg-panel{
        width: 719px;
        height: auto;
    }
    .reg-inp{
        margin-right: 0;
    }
    .reg-btn{
        margin-bottom: 0;
    }
    .reg-cap-txt{
        max-width: 895px !important;
        width: 565px;
    }
    .reg-inp-1 {
        margin-right: 5px !important;
        width: 335px;
    }
    .reg-inp-2{
        width: 335px;
    }
    .pro-wrapper{
        width: 719px;
    }
    .pro-left-wrapper{
        width: 100%;
        text-align: left;
        line-height: 44px;
        height: 44px;
        padding: 0 20px;
        font-size: 18px;
        margin: 0;
        background: none;
    }
    .pro-right-wrapper{
        width: 719px;
        height: 60px;
        padding: 2px 20px;
    }
    .pro-inp{
        width: 219px;
        height: 30px;
    }
    .ctnt-list-item-txt-wrap{
    	width: 245px !important;
    }
    .ctnt-review-btn{
    	width:125px;
    }
    .fp-inp{
    	width:150px;
    }
    .hdr-logo{
        width: 110px;
        background: url(../images/ss-logo.png) no-repeat left center;
        background-size: 90%;
    }
    .hdr-link-item{
        padding: 0 6px;
        font-size: 13px;
    }
    .hdr-log-reg-btn{
        padding: 0 15px;
    }
    .blue-ext-right {
        height: 60px;
    }
    .blue-ext-right-adj{
        display: block;
        height: 44px;
    }
    .disclaimer {
        font-size: 12px;
        margin-top: 0;
    }
    .user-info-sing-out{
        font-size: 11px;
        margin-left: 5px;
        padding-left: 5px;
    }
}



/* ============== MEDIUM SIZED SCREENS ==============*/
@media (min-width: 992px) and (max-width: 1199px) {
    .c-pic-panel{
        width: 625px;
    }
    .c-pic-top-1{
        width: 466px;
    }
    .c-pic-img{
        width: 152px;
    }
    .c-reg-panel{
        width: 300px;
    }
    .reg-txt-top1{
        font-size: 16px;
        margin-top: -10px;
    }
    .reg-item{
        margin-bottom: 0;
    }
    .reg-inp{
        width: 100% !important;
        margin-bottom: 7px;
        height: 40px;
    }
    .disclaimer {
        font-size: 9px;
    }
    .reg-txt-top2 {
        margin-bottom: 5px;
    }
    .reg-captcha-wrapper{
        margin-bottom: 7px;
    }
    .reg-cap-txt{
        width: 162px;
    }
    .c-reg-panel{
        padding: 12px;
    }
    .pro-left-wrapper{
        font-size: 14px;
        padding: 0px 10px;
        width: 309px;
    }
    .pro-right-wrapper{
        width: 626px;
    }
    .pro-inp{
        width: 207px;
    }
    .ctnt-list-item-txt-wrap{
    	width: 385px !important;
    }
    .reg-err-pu{
        height: 50px;
        line-height: 50px;
    }
}



/* ============== LARGE SIZED SCREENS ==============*/
@media (min-width: 1200px) {
    .ctnt-list-item-txt-wrap{
		width:537px !important;
	}
}






































