/* ============== SMARTPHONES ==============*/
@media (max-width: 767px) {
	.s-font-16{
		font-size: 16px;
	}
    .header-logo-wrapper{
        height: 50px;
        float: none;
        background-size: 90px;
        width: 125px;
    }
    .header-row{
        margin: 0 -10px;
    }
    .header-login-wrapper{
        float: none;
        width: 100%;
        overflow: auto;
        height: auto;
        margin: 10px 0;
    }
    .h-email-wrapper {
		width: 49%;
		margin: 0;
		padding: 10px 0px 10px 10px ;
	}
	
	.h-pwd-wrapper {
		width: 49%;
		margin: 0;
		padding: 10px 10px 0px 0px;
		float: right;
	}
	
	.h-login-btn-wrapper {
		overflow: auto;
		width: 100%;
		margin: 0;
		padding: 0px 10px 10px 10px;
	}
	.h-btn-login-txt{
        display: block;
    }
    .h-lbl{
        line-height: 30px;
        margin-bottom: 0;
        padding: 0 10px;
    }
    .h-inp{
        width: 100%;
        height: 44px;
        padding-left: 10px;
    }
    .h-btn-login{
        width: 100%;
        line-height: 44px;
        height: 44px;
        font-size: 13px;
    }
    .hero-txt-wrapper{
        width: 100%;
        padding: 10px 0px;
        font-size: 18px;
        margin: 0;
        line-height: normal;
    }
    .txt-header-small{
        font-size: 18px;
    }
    .content-wrapper{
        margin: 0 -10px;
    
}
    .c-pic-panel{
        display: none;
    }
    .c-reg-panel{
        width: 100%;
        padding: 0 10px;
        height: auto;
        color: #3e3e3e;
    }
    .reg-txt-top1 {
		font-size: 16px;
		margin-top: 5px;
		color: #fff;
	}
	.reg-txt-top2 {
		color: #fff;
	}
	.reg-inp{
        width: 49%;
        margin: 0;
        border-bottom: 1px solid #dcdcdc;
        padding-left: 10px;
        height: 44px;
    }
    reg-item-bord-top{
        border-top: 1px solid #dcdcdc;
    }
    .reg-captcha-wrapper{
        width: 100%;
    }
    .reg-captcha-btns{
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #dcdcdc;
    }
    .reg-btn{
        display: block;
        margin: 10px auto;
        height: 44px;
        font-size: 14px;
        margin: 0;
        border-bottom: 0;
        width: 100%;
    }
	.pro-wrapper {
		margin: 10px 0 !important;
		overflow: auto;
		width: 100%;
		background: rgba(0, 159, 224, 0.8);
	}
	.pro-left-wrapper {
		width: 100%;
		text-align: center;
		height: 50px;
		line-height: 50px;
		background-color: transparent;
	}
	.pro-right-wrapper{
        width: 100%;
        height: auto;
        padding: 10px;
        margin: 0;
    }
    .pro-inp{
        margin: 0;
        width: 49%;
        margin-bottom: 0;
        padding-left: 10px;
        height: 44px;
        background-position: 10px center !important;
    }
    .hr-txt {
		font-size: 20px;
		line-height: 70px;
	}
	.hdr-logo {
		height: 60px;
		width: 120px;
		background-size: 100% auto;
	}
	.hdr-wrapper {
		height: 60px;
	}
	.fp-container {
		padding-right: 0;
		padding-left: 0;
	}
	.hr-txt {
		font-size: 14px;
		line-height: 70px;
	}
	.hdr-log-reg-btn{
		margin-left : 0;
		padding: 0 10px;
        margin-top: 18px;
	}
	.fp-container{
		height: auto;
	}
	.fp-right-item{
		float: none;
		display:block;
		margin-top: -10px;
		margin-left: 0;
	}
	.fp-left-item{
		float: none;
		display:block;
		line-height: 40px;
		text-align: center;
	}
	.fp-inp{
		display:block;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 0;
		float: none !important;
	}
	.fp-row-wrapper{
		width:100%;
	}
	.fp-container .row{
		margin-left:0;
		margin-right: 0;
	}
	.fp-wrapper{
		height: auto;
	}
	.ctnt-list-item{
		padding: 10px 0;
        height: auto;
	}
	.ctnt-list-item-img {
		width: 50px;
		height: 50px;
		margin: 0 10px 0 0;
	}
	.ctnt-review-btn{
		width: 100%;
		font-size: 14px;
	}
    .ctnt-list-header-right{
        float: none;
        clear: both;
        line-height: 28px;
    }
    .ctnt-list-item-txt-wrap{
        height: auto;
        width:200px;
    }
    .ctnt-item-comment{
        display: none;
    }
    /* .ctnt-list-item-btn-wrap{
        clear: both;
        margin-top: 15px;
        float: right;
        width: 100%;
        padding-left: 10px;
    } */
    .registration-form-cls{
        margin-bottom: 0;
    }
    .blue-ext-right{
        display: none;
    }
    .reg-inp-1-adj{
        border-top: 1px solid #dcdcdc;
    }
    .header-search-icn{
        display: block;
    }
    .disclaimer {
        font-size: 11px;
        padding: 0 10px;
        margin-top: 11px;
        /* color: #333; */
    }
    .reg-inp-2{
    	float: right;
    }
    input#find-pro-submit{
    	width: 100%;
    	margin: 10px 0 0 0;
    }
    input#find-pro-last-name {
		float: right;
	}
	.payment-button {
		padding: 0 7px;
		font-size: 13px;
	}
	table.payment-pricing th strong {
		font-size: 15px;
		line-height: 24px;
	}
	.payment-acc-type-txt {
		line-height: normal;
		display: table;
		text-align: center;
		width: 100%;
	}
	.popupUrl {
		font-size: 14px;
		width: 350px;
	}
	.urlPopupButton {
		width: 335px;
		margin-left: 30px;
	}
	.profileForm {
		margin-left: 2%;
	}
	.tweet-icn-sm {
		height: 32px;
		width: 32px;
		margin-right: 0px;
	}
	.sm-post-row {
		padding-left: 0px;
		width: 60%;
		min-width: 250px;
	}
	.sm-prof-name {
		line-height: 30px;
	}
	.sm-custom-img {
		width: 40px;
		height: 40px;
	}
	.sm-default-img {
		width: 40px;
		height: 40px;
	}
	.dash-sel-item-sm {
		width: 270px;
	}
	.sm-prof-name {
		margin-top: 15px;
	}
	.reg-prof-url {
		line-height: 59px;
		padding-left: 20px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		border-bottom: 1px solid #dcdcdc;
		border-top: 1px solid #dcdcdc;
	}
	.position-align{
	padding-left: 30px;
	}
	.btn-wid-sm{
	width:330px !important;
	}
	.hierarchy-btn{
	float:none;
	margin-top:10px;
	margin-left: -6px;
	}
	.widget-code{
    float:none !important;
    width: auto !important;
    }
    .widget-copy{
    padding:0px !important;
    }
    .admin-report-val-col{
     float:none !important;
    }
    #admin-bill-rep-bnt{
    float:none !important;
    }
    .vms-resp-txt {
    margin: 0 auto;
    text-align: center;
    width: 200px;
    padding-bottom: 15px;  
    font-size: 14px;
    float: none;
    margin-bottom: 20px;
    
    }
    .vms-resp-input {
	margin: 0 auto;
    width: 200px;
    float: none;
    margin-bottom: 30px;
    }
    .vms-resp {
    padding-right: 10px;
	width: 200px;
    line-height: 25px;
    font-size: 15px;
    float:none;
    }
    .vms-resp-submit {
    margin: 0 auto;
    border-radius: 3px;
    background-color: #009FE0;
    line-height: 25px;
    width: 80px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    cursor:pointer;
    }
    .resp-vms-acnt {
    margin: 0 auto;
    width: 200px;
    outline: none;
    box-shadow: none;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    padding: 4px 10px 4px 10px;
    }
    .email-resp-margin {
		margin-left: 0px;
	}
	.edit-prof-img-icn {
		background: url(../images/edit-1.png) no-repeat center;
		cursor: pointer;
		width: 20px;
		height: 20px;
		margin-top: 5px;
		margin-right: 30%
	}
	.prof-img-del-icn {
		background: url('../images/delete.png') no-repeat center;
		cursor: pointer;
		width: 20px;
		height: 20px;
		margin-top: 5px;
	}
	.height-auto {
		height : auto !important;
	}
	.warn-resp {
	float: none;
	}

	.ver-resp {
	margin-bottom: 30px !important;
	}
	.comp-mail-thrs-txt {
		margin-right: 4px;
	}	
	
	/*Single review Page */
	.dismiss-single-review-popup{
	z-index: 1000;
	position: absolute;
    color: black;
    opacity: 1;
    margin-right: 6%;
    margin-top: 5%;
    font-size: xx-large;
    right: 0;
	}
	
	.single-review-popup-wrapper {
    top: 0;
    width: 100%;
    margin: 0 auto 20px;
    background: #fff;
    border-radius: 0;
	}
	
	.single-review-popup-hdr-wrapper{
    background: #f2f2f2;
    padding: 2.5% 2.5% 2.5% 2.5%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
	
	.sr-popup-hdr-details {
	display: grid;
	padding-left: 5%;
	}
	
	.single-review-popup-body-wrapper{
	display: flex;
    flex-direction: column;
    margin-top: 15px;
	}
	
	.sr-review-details {
	width: 100%;
    order: 2;
    display: grid;
    padding: 5px;
    padding-top: 25px;
    margin-left: 25px;
    padding-bottom: 15px;
    float: right;
	}
	
	.sr-reviewed-by {
    font-weight: bold !important;
    margin-bottom: 20px;
	}
	
	.sr-margin-bottom-50 {
    margin-bottom: 40px;
    width: 90%;
	}
	
	.sr-review-content {
	width: 100%;
    order: 1;
    padding: 5px;
    border-left: 1px solid #d6d5d5;
    margin-top: 0px;
    display: grid;
    padding-top: 25px;
    float: right;
    padding-right: 30px;
    padding-left: 30px;
	}
	
	.sr-ppl-content {
    clear: both;
    font-weight: bold !important;
    font-size: 18px;
    line-height: unset;
	}
	
	.sr-report-review {
	    width: 170px;
    	padding-left: 5%;
	}
	
	.sr-wc-btn-col {
	margin-right: 6%;
    margin-top: 0.8%;
    float: right !important;
	margin-left: 0% !important;
	}
	
	.sr-wc-btn-col-zillow {
		margin: 1% 30%;
	}
	.height-auto-resp {
		height: auto !important;
	}
	
	.sr-logo-cont{
		display:none;
	}
	
	.overflow-x-scroll {
		overflow-x: auto;
	}

}



/* ============== ANTHING ABOVE SMARTPHONES ==============*/
@media (min-width: 768px) {
	.pro-wrapper{
		display: block !important;
	}
	.prof-img-height {
		height: 195px;
	}

}



/* ============== ONLY TABLETS ==============*/
@media (min-width: 768px) and (max-width: 991px) {
    .c-pic-panel {
        margin-right: 0;
        width: 720px;
        margin-bottom: 15px;
    }
    .c-pic-top-1{
        width: 536px;
        margin-right: 7px;
    }
    .c-pic-panel-top {
        margin-bottom: 7px;
    }
    .c-pic-img{
        width: 175px;
    }
    .c-pic-bot-1{
        margin-right: 7px;
    }
    .c-reg-panel{
        width: 719px;
        height: auto;
    }
    .reg-inp{
        margin-right: 0;
    }
    .reg-btn{
        margin-bottom: 0;
    }
    .reg-cap-txt{
        max-width: 895px !important;
        width: 565px !important;
    }
    .reg-inp-1 {
        margin-right: 5px !important;
        width: 335px;
    }
    .reg-inp-2{
        width: 335px;
    }
    .pro-wrapper{
    }
    .pro-left-wrapper{
        width: 100%;
        text-align: left;
        line-height: 44px;
        height: 44px;
        padding: 0 20px;
        font-size: 18px;
        margin: 0;
        background: none;
    }
    .pro-right-wrapper{
        width: 719px;
        height: 60px;
        padding: 2px 20px;
    }
    .pro-inp{
        width: 219px;
        height: 30px;
    }
     .ctnt-list-item-txt-wrap{
    	width: 190px !important;
    } 
    .ctnt-review-btn{
    	width:125px;
    }
    .fp-inp{
    	width:150px;
    }
    .hdr-logo {
		width: 100px;
		background: url(../images/ss-logo.png) no-repeat left 28px;
		background-size: 90%;
	}
	.hdr-link-item{
        padding: 0 6px;
        font-size: 13px;
    }
    .hdr-log-reg-btn{
        padding: 0 15px;
    }
    .blue-ext-right {
        height: 60px;
    }
    .blue-ext-right-adj{
        display: block;
        height: 44px;
    }
    .disclaimer {
        font-size: 12px;
        margin-top: 0;
    }
    .user-info-sing-out{
        font-size: 11px;
        margin-left: 5px;
        padding-left: 5px;
    }
    .wc-form-txt {
    	width: 80px;
    }
    .wc-form-input {
    	width:  210px;
    }
    .widget-code{
    float:none !important;
    width: auto !important;
    }
    .admin-report-val-col{
     float:none !important;
    } 
    .cust-resp {
    	margin-top: 220px;
    }
    .sort-resp {
    	width: 300px;
    }
}



/* ============== MEDIUM SIZED SCREENS ==============*/
@media (min-width: 992px) and (max-width: 1199px) {
    .c-pic-panel{
        width: 625px;
    }
    .c-pic-top-1{
        width: 466px;
    }
    .c-pic-img{
        width: 152px;
    }
    .c-reg-panel{
        width: 300px;
    }
    .reg-txt-top1{
        font-size: 14px;
        margin-top: -10px;
    }
    .reg-item{
        margin-bottom: 0;
    }
    .reg-inp{
        width: 100% !important;
        margin-bottom: 7px !important;
        height: 40px;
    }
    .disclaimer {
        font-size: 9px;
    }
    .reg-txt-top2 {
        margin-bottom: 5px;
        font-size: 11px;
    }
    .reg-captcha-wrapper{
        margin-bottom: 7px;
    }
    .reg-cap-txt{
        width: 162px !important;
    }
    .c-reg-panel{
        padding: 12px;
    }
    .pro-left-wrapper{
        font-size: 14px;
        padding: 0px 10px;
        width: 309px;
    }
    .pro-right-wrapper{
        width: 626px;
    }
    .pro-inp{
        width: 207px;
    }
    .ctnt-list-item-txt-wrap{
    	width: 360px !important;
    } 
    .reg-err-pu{
        height: 50px;
        line-height: 50px;
    }
    input#find-pro-submit{
    	width: 145px;
    }
}



/* ============== LARGE SIZED SCREENS ==============*/
@media (min-width: 1200px) {
   .ctnt-list-item-txt-wrap{
		width:500px !important;
	} 
	.reg-cap-txt{
        width: 256px !important;
    }
    #summary{
       width: 100% !important;
    }
}


/* ============== SMALL SIZED MOBILE SCREENS ==============*/
@media (max-width: 475px) {
    .h-email-wrapper, .h-pwd-wrapper, .h-login-btn-wrapper{
    	width: 100%;
    	margin: 0;
    	padding: 0 10px;
    	float: none;
    }
    .h-login-btn-wrapper{
    	margin-top: 10px;
    }
    .reg-inp,.pro-inp{
    	width: 100%;
    	margin: 5px 0;
    	float: none;
    }
    .wc-linkedin-photo,.wc-photo-upload{
    	width: 100px;
    	height: 100px;
    }
    .dash-btn-dl-sd{
    	width: 300px !important;
    }
    .dash-btn-dl-sd *{
    	font-size: 11px;
    }
    .user-info-logo, .hdr-logo {
		width: 100px;
	}
	
	.user-error-logo, .hdr-logo {
		width: 100px;
	}
	.left-panel-content {
		padding-left: 5px;
	}
	.main-con-header {
		padding-left: 5px;
	}
	.sur-com-logo {
		display: none;
	}
	.hm-header-right {
		margin-left: 5px;
		padding: 0px 8px;
		font-size: 12px;
	}
	.urlPopupButton {
		width: 335px;
		margin-left: 0px;
	}
	.profile-url-sub-btn {
		width: 120px
	}
	.popupUrl {
		font-size: 14px;
		width: 250px;
	}
	.sm-post-row {
		padding-left: 0px;
		clear: both;
	}
	.wc-hdr-txt {
		font-size: 14px;
	}
	.wc-popup-body-hdr {
		padding-left: 10px;
		font-size: 13px;
	}
	.wc-step2-body-row-hdr {
	    font-size: 14px;
	}
	.bd-cust-rad-item-adj {
		margin-left: 0px;
		float: none;
	}
	.manage-team-radio {
		width: 50%;
	}
	.compl-option-sel {
		float: none;
	}
	.comp-email-input {
		float: none;
	}
	/*Dashboard statistcs download*/
	.dash-btn-dl-sd-admin {
		height: auto;
		min-height: 32px;
	}
	.dsh-date-picker {
		width: 35%;
		text-align: center;
	}
	.picker-sm{
	width: 20% !important;
	}
	.dash-download-sel-item {
		width: 100%;
		border-bottom: 1px solid #009FE0;
	}
	.dash-down-go-button {
		width: 25%;
		height: 32px;
	}
	.overlay-disable-wrapper {	
		width: 100%;
	}
	.rpa-btn {
		width: 130px;
	}
	.compl-input-cont{
	width:250px;
	}
	.submit-comp-btn{
	width: 245px;
    margin-left: 27px;
	}
	.com-reg-or{
	margin-top: 10px;
	}
	.compl-save-btn{
	margin-top:0px;
	}
	.zillow-input-container,.zillow-example-cont{
	font-size:12px;
	}
	.zillow-input-container,.zillow-example-cont{
	width:100%;
	}
	.zillow-exm-profilename{
	padding:3px;
	}
	input.zillow-input{
		width:220px;
		padding: 5px 0 5px 3px;
	}
	.position-align{
	padding-left: 20px;
	}
	.help-save-small{
	margin-left: 125px !important;
	}
	.rvw-rty-small{
	margin-left: 85px !important;
	}
	.bd-check-wrp{
	width: 150px !important;
	}
	.bd-check-sm{
	width: 75% !important;
	}
	.add-team-save{
	margin-left: 0px !important;
	}
	.clear-both-sm{
	clear:both;
	float:none !important;
	margin-left: 20px;
	}
	.float-none{
	float:none;
	}
	.nav-tabs>li>a {
	width: 100%;
	margin-bottom: 5px;
    }
    .nav-tabs>li{
    float:none;
    }
    .st-header-txt-rt{
	 float:none;
	}
	.st-subject-input-cont {
	  width:70%;
	}
	.content-edit{
	  margin-top:10px;
	  width: 145px;
    margin-left: auto;
    margin-right: auto;
	}
	.edit-text{
	 width: 145px;
    margin-left: auto;
    margin-right: auto;
	}
	.cust-resp-txt {
	width: 200px;
	border-right: 0px;
	}
	
	.warn-resp {
	border-right: 0px;
	}
	.email-sel-item-resp {
	width: 88%;
	}
	.email-resp{
		width: 130px;
	}
}

/* ============== ANTHING ABOVE TABLETS ==============*/
@media (min-width: 992px) {
	.margin-bottom-resp {
	margin-bottom: 120px;
	}
	.cust-div-resp {
	margin-top: 40px;
	}
}
