<div class="main-reg-wrapper">
	<div class="reg-left-container">
		<div class="reg-ss-logo"></div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="arrow-steps clearfix">
				<div class="step current">
					<span> <a>Profile</a></span>
				</div>
				<div class="step">
					<span><a>Company</a></span>
				</div>
				<div class="step">
					<span><a>Payment</a></span>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="err-nw-wrapper" class="err-nw-wrapper reg-error ">
				<span class="err-new-close"></span> <span id="err-nw-txt"></span>
			</div>
		</div>
		<form name="signInForm" ng-submit="submitLogin()" novalidate>
			<div style="margin-top: 20px;">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reg-create-account">Create an account</div>
				<div class="reg-req-field col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 30px;">First Name *</div>
				<div class="reg-req-field col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 30px;">Last Name *</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 0" ng-class="{ 'has-error-reg' : submitted && signInForm.firstName.$error.required}">
						<input class=" reg-name form-control-reg" name="firstName" type="text" placeholder="First Name" ng-model="accountRegistration.firstName" required />
						<p ng-show="submitted && signInForm.firstName.$error.required" class="help-block-reg">Firstname is required.</p>
					</div>
					<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding: 0" ng-class="{ 'has-error-reg' : submitted && signInForm.lastName.$error.required}">
						<input class=" reg-name  form-control-reg" name="lastName" ng-model="accountRegistration.lastName" style="margin-left: 2%;" type="text" placeholder="Last Name" required />
						<p ng-show="submitted && signInForm.lastName.$error.required" class="help-block-reg">Lastname is required.</p>
					</div>
				</div>
				<div class="reg-req-field col-lg-12 col-md-12 col-sm-12 col-xs-12">Company Name *</div>
				<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0 15px" ng-class="{ 'has-error-reg' : submitted && signInForm.companyName.$error.required}">
					<input class="reg-details form-control-reg" type="text" placeholder="Company Name" name="companyName" required ng-model="accountRegistration.companyName" />
					<p ng-show="submitted && signInForm.companyName.$error.required" class="help-block-reg">Companyname is required.</p>
				</div>
				<div class="reg-req-field col-lg-12 col-md-12 col-sm-12 col-xs-12">Phone</div>
				<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<input class="reg-details" type="tel" id="reg-phone" ng-model="accountRegistration.phone.number" />
				</div>
				<div class="reg-req-field col-lg-12 col-md-12 col-sm-12 col-xs-12">Email Address *</div>
				<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0 15px" ng-class="{ 'has-error-reg' : submitted && ((signInForm.email.$invalid && signInForm.email.$error.required) || isEmailIdExist)}">
					<input class="reg-details form-control-reg" type="email" name="email" placeholder="email@example.com" required ng-model="accountRegistration.email" ng-pattern="emailFormat" ng-change="isEmailIdExist=false" />
					<p ng-show="submitted && (signInForm.email.$error.required || signInForm.email.$error.pattern)" class="help-block-reg">A valid email address is required.</p>
					<p ng-show="submitted && isEmailIdExist" class="help-block-reg">User with Email: {{accountRegistration.email}} already exists. Please check your email for instruction.</p>
				</div>
				<div class="reg-pswd-info col-lg-12 col-md-12 col-sm-12 col-xs-12">(Don't worry about setting a password right now, we'll email you a link to create one)</div>
				<div class="clearfix reg-captcha-wrapper reg-item" style="width: 305px; margin: auto;">
					<div vc-recaptcha key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
					<p ng-show="submitted && !response" class="help-block-reg">Let's make sure you are a real person, please check the box beside I'm not a robot!</p>
				</div>
				<div style="width: 125; margin: 25px auto;">
					<button class="reg-next" ng-init="activate=0" type="submit" ng-class="{'regen':activate == 1 && signInForm.$valid}" ng-click="submitted=true">
						Next <span style="font-size: 12px;"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="reg-right-container">
		<div class="reg-right-center">
			<div>
				<div class="reg-right-description reg-line-1">Easily customizes your customer survey</div>
				<div class="reg-right-description reg-line-1">experience.Provides pre-written survey</div>
				<div class="reg-right-description reg-line-3">questions for your business vertical.Allows full</div>
				<div class="reg-right-description reg-line-4">control to fit any situation.</div>
			</div>
			<div style="">
				<div class="reg-side-image"></div>
			</div>
		</div>
	</div>
</div>
