<div class="main-reg-wrapper">
	<div class="reg-left-container">
		<div class="reg-ss-logo"></div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="arrow-steps clearfix">
				<div class="step done">
					<span> <a>Profile</a></span>
				</div>
				<div class="step current">
					<span><a>Company</a></span>
				</div>
				<div class="step">
					<span><a>Payment</a></span>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="err-nw-wrapper" class="err-nw-wrapper reg-error ">
				<span class="err-new-close"></span> <span id="err-nw-txt"></span>
			</div>
		</div>
		<form ng-submit="saveCompanyProfile()" name="companyForm" novalidate>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reg-create-account">Company Profile</div>
				<div class="reg-req-field col-lg-12 col-md-12 col-sm-12 col-xs-12">Company Name *</div>
				<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0 15px" ng-class="{ 'has-error-reg' : companysubmitted && companyForm.companyName.$error.required}">
					<input class="reg-details form-control-reg" type="text" placeholder="Company Name" name="companyName" required ng-model="companyProfile.companyName" />
					<p ng-show="companysubmitted && companyForm.companyName.$error.required" class="help-block-reg">Companyname is required.</p>
				</div>
				<div class="reg-req-field col-lg-12 col-md-12 col-sm-12 col-xs-12">Industry *</div>
				<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0 15px" ng-class="{ 'has-error-reg' : companysubmitted && !companyProfile.industry.verticalsMasterId}">
					<div class="form-control-reg" dropdown-select="ddSelectOptions" dropdown-model="companyProfile.industry" dropdown-item-label="verticalName"></div>
					<p ng-show="companysubmitted && !companyProfile.industry.verticalsMasterId" class="help-block-reg">Industry is required.</p>
				</div>
				<div class="reg-req-field col-lg-12 col-md-12 col-sm-12 col-xs-12">Logo</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px;">
					<div id="logoDrop" class="dropzone" ng-init="loadDropzone()"></div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" class="clearfix">
				<div class="reg-back" ng-click="backOnCompany()">&lt;&lt;Back</div>
				<div style="width: 120px; margin: auto;">
					<button class="reg-next" type="submit" ng-class="{'regen':companyForm.$valid && companyProfile.industry.verticalsMasterId > 0}" ng-click="companysubmitted=true">
						Next <span style="font-size: 12px;"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="reg-right-container ">
		<div class="reg-right-center-profile">
			<div class="reg-right-description-profile prof-line reg-bold">Your SocialSurvey page will highlight your</div>
			<ul class="reg-company-deatil-ul">
			<li class="reg-right-description-profile" ><span class="reg-bold">Company</span></li>
			<li class="reg-right-description-profile "><span class="reg-bold">Industry</span></li>
			<li class="reg-right-description-profile "><span class="reg-bold">Location</span></li>
			<li class="reg-right-description-profile "><span class="reg-bold">Brand (your logo)</span></li>
			</ul>
		</div>
	</div>
</div>
