<script src="../resources/js/dropzone.js"></script>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
    <div class="reg-left-container col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="reg-ss-logo"></div>
        <div><img src="../resources/images/step-2.png" class="stretch" alt="" /></div>
        <div id="err-nw-wrapper" class="err-nw-wrapper reg-error" >
			<span class="err-new-close"></span>
			<span id="err-nw-txt"></span>
		</div>
        <form ng-submit="saveCompanyProfileDetails()" name="companyProfileForm">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reg-create-account">Company Details</div>
                <div class="reg-req-field col-lg-12 col-md-12 col-sm-12 col-xs-12">Country *
					</div>
					<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<input class="reg-details" type="text" id="country" ng-click="selectCountry()">
					<input type="hidden" id="country_code" ng-model="companyProfile.location.country.code"   required/>
					</div>
					 <div class="reg-req-field col-lg-12 col-md-12 col-sm-12 col-xs-12">Address *
					</div>
					<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<textarea class="reg-details"  rows="1" ng-model="companyProfile.address" style="padding:10px 10px" required oninvalid="this.setCustomValidity('Please Enter Address')" oninput="this.setCustomValidity('')"></textarea>
					</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" class="clearfix" ng-show="usa">
					
					<div class="reg-req-field" style="width:44%;float:left;margin-left:2%;">City *
					</div>
					<div class="reg-req-field" style="width:20%;float:left">State *
					</div>
					<div class="reg-req-field" style="width:30%;margin-left:2%;float:left">ZIP *
					</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" class="clearfix" ng-show="canada">
					<div class="reg-req-field" style="width:20%;float:left">Province *
					</div>
					<div class="reg-req-field" style="width:44%;float:left;margin-left:2%;">City *
					</div>
					<div class="reg-req-field" style="width:30%;margin-left:2%;float:left">Postal Code *
					</div>
					</div>
					
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="usa||canada">
						<input class="reg-comp-add" style="width:20%;" ng-model="companyProfile.state"
							style="margin-left: 2%;" type="text" required oninvalid="this.setCustomValidity('Please Enter State')" oninput="this.setCustomValidity('')" />
						<input class="reg-comp-add" style="width:44%;margin-left:2%" type="text" ng-model="companyProfile.city" 
							name="firstName" required oninvalid="this.setCustomValidity('Please Enter City')" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Please Enter City')" oninput="this.setCustomValidity('')" />
						<input class="reg-comp-add" style="width:30%;margin-left:2%" ng-model="companyProfile.zip"
							style="margin-left: 2%;" type="text" required oninvalid="this.setCustomValidity('Please Enter ZIP')" oninput="this.setCustomValidity('')"/>
				</div>
				
				
				<div class="reg-req-field col-lg-12 col-md-12 col-sm-12 col-xs-12">Office Phone *
					</div>
					<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<input class="reg-details" type="tel" id="reg-phone-office" ng-model="companyProfile.officePhone" required oninvalid="this.setCustomValidity('Please Enter Office Phone')" oninput="this.setCustomValidity('')"/>
					</div>
			</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" class="clearfix" style="margin-top:30px">
            <div class="reg-back" ng-click="backOnCompanyDetail()">&lt;&lt;Back</div>
               <div style="width: 120px;margin: auto;"> <button class="reg-next regen" type="submit" >Next  <span style="font-size:12px;"><i class="fa fa-arrow-right" aria-hidden="true"></i></span></button></div>
            </div>
        </form>
    </div>
    <div class="reg-right-container col-lg-6 col-md-6 col-sm-12 col-xs-12">
     <div class="reg-right-center">
     <div class="reg-right-description prof-line-1">Our profile pages focus on every part of your</div>
     <div class="reg-right-description prof-line-2">online social presence.First, we capture and </div>
     <div class="reg-right-description prof-line-3">display as much profile information as possible.</div>
     <div class="reg-prof-img"> </div>
      </div>
    </div>
</div>
