<div class="main-reg-wrapper">
	<div class="reg-left-container">
		<div class="reg-ss-logo"></div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<img src="../resources/images/step-1.png" class="stretch" alt="" />
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="err-nw-wrapper" class="err-nw-wrapper reg-error ">
				<span class="err-new-close"></span> <span id="err-nw-txt"></span>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 20px;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reg-quick-setup" style="float: none;">Quick setup</div>
			<div class="reg-linkedin-border">
				<div class="reg-auth-linkedin-wrapper">
					<div class="reg-linkedin-imp">Import your Profile from LinkedIn</div>
					<div class="reg-linkedin-imp-info">If you already have a LinkedIn profile, let us autofill most of your profile for you.</div>
					<div class="reg-auth-linkedin-btn" id="reg-auth-linkedin" ng-click="linkedin()">Authenticate your LinkedIn account</div>
				</div>
			</div>
			<div class="clearfix">
				<div class="float-left reg-or-line"></div>
				<div class="float-left reg-or">or</div>
				<div class="float-left reg-or-line"></div>
			</div>
			<div class="reg-linkedin-manual">Just click next if you prefer to manually enter all profile information or if you do not have a LinkedIn profile.</div>
			<div style="width: 125; margin: 25px auto;">
				<button class="reg-next regen" ng-click="saveLinkedInStage()">
					Next <span style="font-size: 12px;"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
				</button>
			</div>
		</div>
	</div>
	<div class="reg-right-container">
		<div class="reg-right-center">
			<div class="reg-import-linedin">Import your profile</div>
			<div class="reg-side-linkedin-img"></div>
		</div>
	</div>
</div>
